[2018-09-21 17:22] banukutlu opened #1 "Search and Facet by Library and Campus"
In GitLab by @rkt6 on Feb 8, 2018, 11:06

See related for context: https://github.com/psu-libraries/psulib_blacklight/wiki/Library-Faceting-and-Locations-Management

Requires psu-libraries/psulib_traject#11

[2018-09-21 17:22] banukutlu opened #2 "Determine PSU Call Number Map"
In GitLab by @rkt6 on Feb 8, 2018, 11:07

Blacklight's call number map contains a number of irregularities derived from other institutional choices. We need to determine which mappings we'll change. To be done by Ruth and reviewed with Cataloging and Metadata.

[2018-09-21 17:22] #2 closed, assigned to ruthtillman

[2018-09-21 17:22] banukutlu opened #3 "Indexing and display subjects by segments for search and browse"
In GitLab by @rkt6 on Feb 8, 2018, 13:27

See the Subjects in this section and the different links generated + the Browse function:

https://pulsearch.princeton.edu/catalog/5351412/

Requires https://github.com/psu-libraries/psulib_traject/pull/23

[2018-09-21 17:22] banukutlu opened #4 "Add "More in this series" for Series statements"
In GitLab by @rkt6 on Feb 8, 2018, 13:30

e.g. https://pulsearch.princeton.edu/catalog/5351412/

We may change how we handle or display it based on feedback, but the series search link that separates it from display makes it somewhat clear? Let's pursue this for first iteration of the app at least.

Princeton code:

https://github.com/pulibrary/orangelight/blob/327f6410e90fa2dfbf7b214724851433d381

[2018-09-21 17:22] banukutlu opened #5 "Course Reserves"
https://github.com/psu-libraries/psulib_blacklight/wiki/Course-Reserves

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-74

[2018-09-21 17:23] banukutlu opened #6 "My Library Account"
In GitLab by @ful105 on Feb 21, 2018, 15:23

Assess account-specific functions available (e.g. Update Address), Renewal/Renew-ALL functions, Fines (is there any way to do better info about payment? -- do we gently persist this data?), Links to: borrowing privileges page, questions about library account page, and privacy policy (should be everywhere)

Bills!

--

Documenting what's currently in My

[2018-09-21 17:23] banukutlu opened #7 "As a user, I want to see if any available copies of an item exist on a search results page"
* [x] I want to know if a copy of the item is available.
* [x] If no copies of the item are available, I want to be able to request it from the search results.
* [x] If the item is available online, I want a link to get there

(because of data returned from Sirsi we may have to look at Stanford)

See also issue #8 for the full item results view.

Connected to #196

[2018-09-21 17:23] banukutlu opened #8 "As a user / as a librarian, I want to know what items are available for a record"
* [x] I want to see all items which exist.
* [x] If the item is available, I want to see its location and call number
* [x] If the item is available online, I want a link to get there
* [x] If the item is unavailable, I want to see that it is checked out / get an ILL link
* [] If the item is Annexed, I want a link to request it. - will be handled by #377

See also issue #7 for just the search resu

[2018-09-21 17:23] banukutlu opened #9 "Maintain list of pickup places"
In GitLab by @ful105 on Feb 21, 2018, 15:26

We will need to include and maintain (or pull regularly from somewhere) a list of all places where one can pick up a book / office delivery where appropriate.

Requires #53

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-72

[2018-09-21 17:37] banukutlu opened #10 "Assess page/item search views in Blacklight"
In GitLab by @ful105 on Feb 21, 2018, 15:29

[2018-09-21 17:37] banukutlu opened #11 "Single item page fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields#single-item-view-labels

[2018-09-21 17:37] banukutlu commented on #11
In GitLab by @rkt6 on Sep 7, 2018, 14:36

changed the description

[2018-09-21 17:37] banukutlu commented on #11
In GitLab by @rkt6 on Sep 17, 2018, 15:52

changed the description

[2018-09-21 17:37] banukutlu commented on #11
In GitLab by @rkt6 on Sep 17, 2018, 16:12

changed the description

[2018-09-21 17:37] banukutlu commented on #11
In GitLab by @rkt6 on Sep 17, 2018, 16:13

changed the description

[2018-09-21 17:37] banukutlu commented on #11
In GitLab by @rkt6 on Sep 20, 2018, 09:38

changed the description

[2018-09-21 17:37] banukutlu commented on #11
In GitLab by @rkt6 on Sep 20, 2018, 09:46

changed the description

[2018-09-21 17:37] banukutlu commented on #11
In GitLab by @rkt6 on Sep 20, 2018, 10:43

changed the description

[2018-09-21 17:37] banukutlu opened #12 "Search results page fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields#search-results-view-labels

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jun 20, 2018, 13:45

GetIt! Function. Don't display copy. Only display 856 if it has content/don't just display 856.

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jun 20, 2018, 13:47

assigned to @rkt6

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jun 20, 2018, 13:47

me: get screenshot

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jul 3, 2018, 13:14

changed the description

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jul 3, 2018, 13:24

changed the description

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jul 3, 2018, 13:25

changed the description

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jul 3, 2018, 13:26

![CatSearchResultsFields](/uploads/4533354e998d2d6da5b88744817e8c0f/CatSearchResultsFields.png)

Screenshot of current results.

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jul 3, 2018, 13:31

Using the item date/year is a tricky proposition per some of our conversations about dates.

Example of how Cornell and Stanford support multiple year uncertainty: https://newcatalog.library.cornell.edu//?f%5Bformat%5D%5B%5D=Book&q=women%20strike%20for%20peace&search_field=all_fields && https://searchworks.stanford.edu/catalog?utf8=%E2%9C%93&search_field=s

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Jul 3, 2018, 13:32

changed the description

[2018-09-21 17:37] banukutlu commented on #12
In GitLab by @rkt6 on Sep 20, 2018, 09:59

changed the description

[2018-09-21 17:37] banukutlu opened #13 "Development environment"
In GitLab by @ful105 on Feb 21, 2018, 15:31

* [x]  Set up local env using using instructions from DSRD until step 12: https://github.com/psu-stewardship/scholarsphere/wiki/How-to-Install-on-a-fresh-Mac
* [x]  Install BL on your local: https://github.com/projectblacklight/blacklight/wiki/Quickstart
* [x]  Index sample data from cat
  *  https://psu.app.box.com/file/287669838155
  *  https://github

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 4, 2018, 03:34

assigned to @bzk60

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 4, 2018, 03:34

changed the description

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 4, 2018, 03:41

added ~938 label

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 4, 2018, 03:45

changed the description

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 4, 2018, 03:46

changed the description

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 4, 2018, 03:47

changed the description

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 4, 2018, 03:47

changed the description

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 9, 2018, 11:12

marked the task **Documentation for local setup (use this as a starting point(until step 12): https://github.com/psu-stewardship/scholarsphere/wiki/How-to-Install-on-a-fresh-Mac)** as completed

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 9, 2018, 11:12

marked the task **Documentation for local setup (use this as a starting point(until step 12): https://github.com/psu-stewardship/scholarsphere/wiki/How-to-Install-on-a-fresh-Mac)** as incomplete

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 9, 2018, 11:15

added ~941 label

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 9, 2018, 13:38

removed ~941 label

[2018-09-21 17:37] banukutlu commented on #13
In GitLab by @bzk60 on Apr 12, 2018, 15:03

changed the description

[2018-09-21 18:08] #13 closed

[2018-09-21 18:08] banukutlu opened #14 "Technical Plan"
In GitLab by @ful105 on Feb 21, 2018, 15:32

@cdm32

[2018-09-21 18:08] banukutlu commented on #14
In GitLab by @bzk60 on Feb 22, 2018, 13:09

assigned to @bzk60

[2018-09-21 18:08] banukutlu commented on #14
In GitLab by @bzk60 on Apr 4, 2018, 03:35

changed the description

[2018-09-21 18:08] banukutlu commented on #14
In GitLab by @bzk60 on Apr 4, 2018, 21:23

changed the description

[2018-09-21 18:08] banukutlu commented on #14
In GitLab by @bzk60 on May 1, 2018, 17:32

closed

[2018-09-21 18:08] #14 closed

[2018-09-21 18:08] banukutlu opened #15 "Project Brief"
In GitLab by @ful105 on Feb 21, 2018, 15:32

[2018-09-21 18:08] banukutlu commented on #15
In GitLab by @ful105 on Feb 21, 2018, 15:34

assigned to @rkt6

[2018-09-21 18:08] banukutlu opened #16 "Timeline"
In GitLab by @ful105 on Feb 21, 2018, 15:34

null

[2018-09-21 18:08] banukutlu commented on #16
In GitLab by @bzk60 on Apr 9, 2018, 09:10

assigned to @rkt6

[2018-09-21 18:08] banukutlu opened #17 "Touch base with DSRD re environment set up"
In GitLab by @ful105 on Feb 21, 2018, 15:41

null

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @ful105 on Feb 21, 2018, 15:49

assigned to @bzk60

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @bzk60 on Feb 22, 2018, 09:43

added ~938 label

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @bzk60 on Feb 22, 2018, 13:06

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @bzk60 on Feb 22, 2018, 13:09

@cdm32 asked on the Slack Blacklight channel and looks like there is not any standard local development practice and many work on their Macs directly, using rbenv and bundler.

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @cdm32 on Feb 22, 2018, 14:04

Well, so far anyway, the answer seems to be "local on my Mac" and to borrow DSRD's approach answer: with `rbenv`. A bit surprising, but maybe this is how RoR devs do their thing normally?

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @cdm32 on Feb 23, 2018, 07:49

I was able to get a local instance of Blacklight running with no problem following the DSRD instructions to step 12 (though some of the tricky ownership steps I had already addressed) and then following the Quick Start Guide on Blacklight.

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @rkt6 on Apr 2, 2018, 11:22

Meeting scheduled to make this more concrete for the group on Weds 4/18.

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @bzk60 on Apr 4, 2018, 03:28

changed title from **Touch base with DSRD {---} environment set up** to **Touch base with DSRD {+re+} environment set up**

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @bzk60 on Apr 4, 2018, 03:42

closed

[2018-09-21 18:08] banukutlu commented on #17
In GitLab by @bzk60 on Apr 4, 2018, 03:42

removed ~938 label

[2018-09-21 18:08] #17 closed

[2018-09-21 18:08] banukutlu opened #18 "Initial Indexing"
In GitLab by @ful105 on Feb 21, 2018, 15:42

Full index finished in ~6.5 hours. This represents ~7 Million MARC Records.

[@elt106, @mxk128, @bzk60, @cdm32]

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @ful105 on Feb 21, 2018, 15:49

assigned to @elt106

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 4, 2018, 03:33

added ~938 label

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 4, 2018, 03:42

removed ~938 label

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 12, 2018, 15:02

changed the description

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 12, 2018, 16:54

changed the description

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 12, 2018, 16:54

added ~938 label

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 13, 2018, 16:00

@mxk128 @elt106 I think we can consider this completed as Maryam was able to index the full. Please let me know if there is anything to be completed re this ticket? If not I'll move it to closed.

one related todo is: @cdm32 and I will index on our locals as well. (even though we haven't decided yet if we will be using the full index for our dev env.)

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 13, 2018, 16:19

changed the description

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 13, 2018, 16:20

changed the description

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on Apr 30, 2018, 10:32

removed ~938 label

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @bzk60 on May 1, 2018, 17:27

moved to psulib_traject#1

[2018-09-21 18:08] banukutlu commented on #18
In GitLab by @mxk128 on May 16, 2018, 13:11

changed the description

[2018-09-21 18:08] #18 closed

[2018-09-21 18:08] banukutlu opened #19 "Testing non-Latin script search"
In GitLab by @rkt6 on Mar 9, 2018, 08:25

When the Blacklight test instance is up and running, Ruth will bring together catalogers--Lily Huang (Chinese, Japanese, Korean), Susan Lane (Arabic, has interest in testing French re: some Sirsi issues), Katherine Strenko (Cyrillic)--to test non-Latin script search. Since we catalog using various non-Latin scripts, we need to ensure they're working in the

[2018-09-21 18:08] banukutlu opened #20 "Post-MVP integration of image viewer?"
In GitLab by @rkt6 on Mar 15, 2018, 16:47

Maps library loves what Princeton did with the image viewer here: https://catalog.princeton.edu/catalog/5274591#view

This is definitely a nice-to-have, so just logging it so we don't forget. Not critical though.

[2018-09-21 18:08] banukutlu opened #21 "Facet fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields#facets

[2018-09-21 18:21] banukutlu opened #22 "Browse by Call Number / Nearby on Shelf"
# To-Do
- [x] #793
- [x] #794
- [x] #800
- [x] #864
- [x] #960
- [x] #961

[2018-09-21 18:21] banukutlu opened #23 "As a user, I want to see thumbnails of books covers"
In GitLab by @rkt6 on Mar 29, 2018, 16:06

(nice to have)

[2018-09-21 18:21] banukutlu opened #24 "As a library worker, I want to see the MARC view of a record"
In GitLab by @rkt6 on Mar 29, 2018, 16:08

* [x] I want an easy way to click to the MARC view of a record
* [x] I want it to lie flat on the page, not pop up like some do

(As a product owner, I want the link to be called "MARC view" -- named for what it is, not for who might use it, e.g. "librarian" or "staff")

[2018-09-21 18:21] banukutlu opened #25 "Deploy code using Capistrano"
In GitLab by @bzk60 on Apr 4, 2018, 03:29

[2018-09-21 18:21] #25 closed, assigned to cdmo

[2018-09-21 18:21] banukutlu opened #26 "WCAG 2.0"
In GitLab by @rkt6 on Apr 4, 2018, 12:08

Starting off this ticket as a place to track/record the regular accessibility testing conducted through I-Tech's processes. This serves as a place to log issues discovered and manage fixing them.

[2018-09-21 18:21] banukutlu opened #27 "Determine Solr Field Naming Conventions"
In GitLab by @rkt6 on Apr 9, 2018, 16:14

As we index our MARC records to Solr, we will need to decide on our field naming protocols. What prefixes do we use to indicate what? What is our standard way of representing MARC fields or concepts and subfields (e.g. ignoring prefixes, do we use `title_ab` to represent the 245$a$b or something else?)?

Documentation of decisions:
- Decisions re: prefixes

[2018-09-21 18:21] #27 closed, assigned to nobody

[2018-09-21 18:21] banukutlu opened #28 "As a user, I want to be able to request archival materials (Aeon)"
In GitLab by @rkt6 on Apr 10, 2018, 11:08

Integrating Aeon

[2018-09-21 18:21] banukutlu opened #29 "Update solr_wrapper config"
In GitLab by @bzk60 on Apr 13, 2018, 15:45

Edits to .solr_wrapper.yml config
* [x]  persist: true (Preserves the data in your collection between startups)
* [x]  version

Sample configs:
https://github.com/tulibraries/tul_cob/blob/master/.solr_wrapper.yml
https://github.com/psu-libraries/cho/blob/master/.solr_wrapper.yml

https://github.com/cbeer/solr_wrapper

[2018-09-21 18:54] #29 closed

[2018-09-21 18:54] banukutlu opened #30 "Document local setup (on mac) and how to start up the app"
In GitLab by @bzk60 on Apr 13, 2018, 15:47

https://git.psu.edu/i-tech/psulib_blacklight/blob/master/README.md

[@bzk60, @cdm32]

[2018-09-21 18:54] banukutlu commented on #30
In GitLab by @bzk60 on Apr 13, 2018, 15:48

changed title from **{-Local setup and how to start uo the app documentation-}** to **{+Document local setup (on mac) and how to start up the app+}**

[2018-09-21 18:54] banukutlu commented on #30
In GitLab by @bzk60 on Apr 13, 2018, 15:48

changed the description

[2018-09-21 18:54] banukutlu commented on #30
In GitLab by @bzk60 on Apr 13, 2018, 15:49

changed the description

[2018-09-21 18:54] banukutlu commented on #30
In GitLab by @bzk60 on Apr 16, 2018, 12:37

changed the description

[2018-09-21 18:54] banukutlu commented on #30
In GitLab by @bzk60 on Apr 24, 2018, 13:30

changed the description

[2018-09-21 18:54] banukutlu commented on #30
In GitLab by @bzk60 on Jul 17, 2018, 16:36

closed

[2018-09-21 18:54] banukutlu commented on #30
In GitLab by @bzk60 on Jul 17, 2018, 16:36

removed ~1508 label

[2018-09-21 18:54] #30 closed

[2018-09-21 18:54] banukutlu opened #31 "Document how to migrate from SQLite to MySQL"
In GitLab by @tbd3 on Apr 16, 2018, 11:27

For completeness: We are using SQLite for our local development (MySQL on production) but how to migrate has been documented as part of the [Development setup](/blob/master/README.md) for anyone who wants to use MySQL on their dev.

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @tbd3 on Apr 16, 2018, 11:27

https://psu.app.box.com/notes/288336695841

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @tbd3 on Apr 16, 2018, 11:27

closed

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 16, 2018, 11:44

reopened

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 16, 2018, 15:07

added mysql2 and dotenv to gem file, updated database.yml config 3cf89b42, 46b78efe, fc7b2516

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 13:13

changed title from **{-M-}igrate the rails database from sqlite to MySQL** to **{+Document how to m+}igrate the rails database from sqlite to MySQL**

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 13:14

changed title from **Document how to migrate {-the rails database -}from sqlite to MySQL** to **Document how to migrate from sqlite to MySQL**

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 13:14

changed title from **Document how to migrate from {-sql-}ite to MySQL** to **Document how to migrate from {+SQL+}ite to MySQL**

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 13:17

changed the description

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 13:18

changed the description

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 13:26

changed the description

[2018-09-21 18:54] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 16:21

closed

[2018-09-21 18:55] banukutlu commented on #31
In GitLab by @bzk60 on Apr 24, 2018, 16:21

removed ~1508 label

[2018-09-21 18:55] #31 closed

[2018-09-21 18:55] banukutlu opened #32 "Document git practices"
In GitLab by @bzk60 on Apr 18, 2018, 10:21

Use as a reference:
https://staff.libraries.psu.edu/i-tech/daws/git-flow-collaborating-git-and-drupal
https://github.com/psu-stewardship/scholarsphere/wiki/Git-branch-workflow
https://datasift.github.io/gitflow/IntroducingGitFlow.html

https://docs.gitlab.com/ee/gitlab-basics/add-merge-request.html

[@bzk60, @cdm32]

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 18, 2018, 10:22

changed title from **Document git {-workflow-}** to **Document git {+practices+}**

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 18, 2018, 17:33

added ~938 label

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 19, 2018, 12:51

changed the description

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 20, 2018, 12:44

@cdm32 can you check this: [git.md](/uploads/784e83bf274ce9bb89f6dd1dddaaa323/git.md)

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 20, 2018, 13:22

changed the description

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @cdm32 on Apr 20, 2018, 15:25

here are some suggested changes: [git.md](/uploads/14f29f425f81e5cd09b0080e6817a0af/git.md)

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 24, 2018, 13:10

https://git.psu.edu/i-tech/psulib_blacklight/wikis/Git-branching-workflow

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 25, 2018, 09:19

removed ~938 label

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 25, 2018, 09:19

added ~938 label

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 30, 2018, 13:28

removed ~938 label

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Apr 30, 2018, 13:28

added ~938 label

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Jul 17, 2018, 16:36

closed

[2018-09-21 18:55] banukutlu commented on #32
In GitLab by @bzk60 on Jul 17, 2018, 16:36

removed ~1508 label

[2018-09-21 18:55] #32 closed

[2018-09-21 18:55] banukutlu opened #33 "Add a simple behavioral test using rspec"
In GitLab by @bzk60 on Apr 18, 2018, 13:12

http://rspec.info/

[@bzk60, @cdm32]

[2018-09-21 19:00] banukutlu opened #34 "Investigate Capistrano"
In GitLab by @bzk60 on Apr 19, 2018, 15:11

https://github.com/capistrano/capistrano/blob/master/README.md
https://gist.github.com/jrochkind/2161449
https://github.com/pulibrary/orangelight#deploying-with-capistrano

[Capify-the-project](../wiki/Capify-the-project)

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-69

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @bzk60 on Apr 19, 2018, 15:48

added ~1515 label

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @bzk60 on Apr 19, 2018, 17:26

changed the description

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @bzk60 on Apr 24, 2018, 13:10

changed the description

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 17, 2018, 13:39

added ~938 label

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 19, 2018, 10:46

removed ~938 label

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 20, 2018, 15:40

added ~938 label

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 20, 2018, 15:56

changed the description

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 20, 2018, 15:56

changed the description

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 20, 2018, 16:29

removed ~938 label

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 23, 2018, 12:25

added ~938 label

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @cdm32 on Jul 23, 2018, 12:37

created branch [`35-investigate-capistrano`](https://git.psu.edu/i-tech/psulib_blacklight/compare/master...35-investigate-capistrano)

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @bzk60 on Jul 23, 2018, 14:02

changed the description

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @bzk60 on Jul 31, 2018, 09:59

removed ~938 label

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @ful105 on Aug 24, 2018, 13:44

removed milestone

[2018-09-21 19:00] banukutlu commented on #34
In GitLab by @ful105 on Aug 24, 2018, 13:45

Take a look at for rollbacks (not for main deployment).

[2018-09-21 19:00] banukutlu opened #35 "Switch to Blacklight v7.0"
In GitLab by @bzk60 on Apr 20, 2018, 11:48

https://github.com/projectblacklight/blacklight/releases/tag/v7.0.0.rc1
https://rubygems.org/gems/blacklight/versions/7.0.0.rc1

[@cdm32, @bzk60]

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Apr 23, 2018, 09:18

added ~938 label

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Apr 23, 2018, 09:18

assigned to @bzk60

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Apr 23, 2018, 09:18

changed the description

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @cdm32 on Apr 23, 2018, 16:01

see https://github.com/projectblacklight/blacklight/issues/1868 for summary of problems.

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Apr 25, 2018, 09:19

removed ~938 label

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Apr 27, 2018, 11:18

added ~938 label

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Apr 30, 2018, 10:50

using the schema.xml and solrconfig.xml from 6.x branch, it indexes and the app loads but left menu is not working properly. there is a js error re typeahead `Uncaught ReferenceError: Bloodhound is not defined`

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on May 15, 2018, 09:44

removed ~938 label

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @cdm32 on Jul 12, 2018, 08:21

added ~938 label

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @cdm32 on Jul 12, 2018, 08:21

I'm starting to take a look at this again (it's been awhile!)

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Jul 13, 2018, 12:00

mentioned in commit 7998e0cd68c8a7c446c23f170c1a5af6f8d98c7b

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @cdm32 on Jul 17, 2018, 13:38

i'm realizing that this issue is more of a milestone.

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Jul 17, 2018, 16:20

I'm closing this issue since now we added [Black CAT Prerelease](https://git.psu.edu/i-tech/psulib_blacklight/milestones/2) milestone.

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Jul 17, 2018, 16:20

closed

[2018-09-21 19:00] banukutlu commented on #35
In GitLab by @bzk60 on Jul 17, 2018, 16:35

removed ~938 label

[2018-09-21 19:00] #35 closed

[2018-09-21 19:00] banukutlu opened #36 "solrconfig.xml dismax or edismax? (edismax)"
In GitLab by @bzk60 on Apr 24, 2018, 13:35

Change solrconfig.xml to use defType=edismax

https://github.com/pulibrary/pul_solr/blob/master/solr_configs/orangelight/conf/solrconfig.xml
https://github.com/sul-dlss/SearchWorks/blob/master/config/solr_configs/solrconfig.xml

https://stackoverflow.com/questions/18171242/using-the-extended-dismax-query-parser-in-blacklight?utm_medium=organic&utm_source

[2018-09-21 19:01] banukutlu commented on #36
In GitLab by @bzk60 on Apr 24, 2018, 13:44

added ~1518 label

[2018-09-21 19:01] banukutlu commented on #36
In GitLab by @bzk60 on May 1, 2018, 17:35

assigned to @bzk60

[2018-09-21 19:01] banukutlu commented on #36
In GitLab by @bzk60 on May 1, 2018, 17:40

reopened

[2018-09-21 19:45] banukutlu opened #37 "Document marc_indexer.rb fields"
In GitLab by @bzk60 on Apr 19, 2018, 13:43

Marc Extractor Doc:
https://github.com/traject/traject/blob/b5881ff96fcc671f2a59271281c4809b9ed6bb0c/lib/traject/marc_extractor.rb

[@mxk128, @rkt6]

[2018-09-21 19:45] banukutlu commented on #37
In GitLab by @bzk60 on Apr 19, 2018, 13:44

changed the description

[2018-09-21 19:45] banukutlu commented on #37
In GitLab by @bzk60 on Apr 19, 2018, 13:58

changed the description

[2018-09-21 19:45] banukutlu commented on #37
In GitLab by @bzk60 on Apr 24, 2018, 13:45

added ~1518 label

[2018-09-21 19:45] banukutlu commented on #37
In GitLab by @bzk60 on May 1, 2018, 17:36

removed ~1518 label

[2018-09-21 19:45] banukutlu commented on #37
In GitLab by @ful105 on Aug 24, 2018, 14:11

moved to psulib_traject#26

[2018-09-21 19:45] #37 closed

[2018-09-21 19:45] banukutlu opened #38 "Search with catkey"
In GitLab by @bzk60 on Apr 24, 2018, 13:49

In solrconfig.xml add id to qf to be able to search with catkey

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Apr 24, 2018, 13:50

removed ~1518 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Apr 24, 2018, 14:27

changed the description

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on May 1, 2018, 17:37

assigned to @bzk60

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on May 1, 2018, 17:43

added ~1518 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on May 16, 2018, 10:21

@mxk128 let's think about if we are gonna add a boost to id

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @mxk128 on May 16, 2018, 11:01

mentioned in commit 77592155fcaa549033651fd27b29f1b369bea8be

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on May 16, 2018, 11:09

added ~938 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @mxk128 on May 16, 2018, 11:34

In `solrconfig.xml` added `id` to qf to be able to search with catkey. Had to reindex again for it to take effect.
Also added code to `catalog_controller.rb` to display the catkey. We will have to review this later to see if we want to display the catkey.

@bzk60 @rkt6 Stanford displays their catkey .... goto to this page and scroll to bottom and on the

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on May 17, 2018, 16:02

mentioned in merge request !3

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Jun 6, 2018, 09:38

removed ~938 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 5, 2018, 09:26

added ~938 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 5, 2018, 09:27

@rkt6 What should the display label be for catkey?

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 5, 2018, 09:27

added ~941 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @rkt6 on Sep 5, 2018, 09:55

I think "catkey" for now. We may change to something like "system number."

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 5, 2018, 09:57

removed ~941 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 5, 2018, 09:57

added ~1508 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 5, 2018, 09:57

removed ~938 label

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 7, 2018, 13:02

@rkt6 can you pls review this in QA? It is in both results display and record display right now.

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @rkt6 on Sep 7, 2018, 13:22

Works!

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 7, 2018, 13:31

closed

[2018-09-21 19:45] banukutlu commented on #38
In GitLab by @bzk60 on Sep 7, 2018, 13:31

removed ~1508 label

[2018-09-21 19:45] #38 closed

[2018-09-21 19:45] banukutlu opened #39 "Document VM setup for local dev. on Windows"
In GitLab by @bzk60 on Apr 24, 2018, 15:47

[2018-09-21 19:45] banukutlu commented on #39
In GitLab by @lgk1 on Jun 4, 2018, 09:33

@wse1 @lgk1  - integrate with documentation underway for all non drupal dev.
https://psu.box.com/s/y0j6m5fpkkdlz0vi1g7tu3n2h1gtbdoa

[2018-09-21 19:45] banukutlu commented on #39
In GitLab by @wse1 on Jun 4, 2018, 10:54

Here's the url to the folder on box that contains the VM information

https://psu.app.box.com/folder/40231844457

[2018-09-21 19:45] banukutlu commented on #39
In GitLab by @cdm32 on Jul 23, 2018, 08:29

removed milestone

[2018-09-21 19:45] banukutlu opened #40 "Test accessories, utilities and methods"
In GitLab by @bzk60 on Apr 30, 2018, 13:19

Decide if we will use/need factories with Factory Bot https://github.com/thoughtbot/factory_bot_rail over Rails fixtures.

Other things to consider:

* faking via `faker` or `forgery`
* recording via `vcr`
* just stubbing
* mocking via `webmock`
* `rspec-solr`
* js testing via `jest`

A good read: https://robots.thoughtbot.com/how-we-test-rails-applicati

[2018-09-21 19:45] banukutlu commented on #40
In GitLab by @bzk60 on Apr 30, 2018, 13:23

changed title from **{-Fixtures vs-} Factory Bot** to **{+Rails fixtures vs factories from+} Factory Bot**

[2018-09-21 19:45] banukutlu commented on #40
In GitLab by @bzk60 on Apr 30, 2018, 13:23

changed the description

[2018-09-21 19:45] banukutlu commented on #40
In GitLab by @bzk60 on May 1, 2018, 12:43

added ~938 label

[2018-09-21 20:33] banukutlu opened #41 "placeholder issue for issue which does not exist and was probably deleted in GitLab"
This is to ensure the issue numbers in GitLab and GitHub are the same

[2018-09-21 20:33] banukutlu opened #42 "Change title, subtitle and author field multivalued in schema.xml"
In GitLab by @bzk60 on May 16, 2018, 10:32

[2018-09-21 20:33] banukutlu commented on #42
In GitLab by @bzk60 on May 16, 2018, 10:33

added ~938 label

[2018-09-21 20:33] banukutlu commented on #42
In GitLab by @mxk128 on May 16, 2018, 11:01

mentioned in commit 77592155fcaa549033651fd27b29f1b369bea8be

[2018-09-21 20:33] banukutlu commented on #42
In GitLab by @mxk128 on May 16, 2018, 11:21

During indexing, records were being rejected because, we didn’t declare a field to be a multi-valued field but tried to stuff multiple values into it anyway, which Solr doesn’t like.
So I changed below fields to multivalued:

-  `title_display`,
-  `title_vern_display`,
-  `subtitle_display`,
-  `subititle_vern_display`,
-  `author_vern_display`

We had

[2018-09-21 20:33] banukutlu commented on #42
In GitLab by @bzk60 on Sep 5, 2018, 09:28

removed ~1508 label

[2018-09-21 20:33] banukutlu commented on #42
In GitLab by @bzk60 on Sep 5, 2018, 09:28

closed

[2018-09-21 20:33] #42 closed

[2018-09-21 20:33] banukutlu opened #43 "Many Errors in Solr Log"
In GitLab by @elt106 on May 17, 2018, 13:10

The current Blacklight demo codebase, produces many errors in Solr's logs relating to deprecated functions.

[2018-09-21 20:33] banukutlu opened #44 "Did you mean and Fuzzy Search"
In GitLab by @rkt6 on Jun 12, 2018, 10:16

Suggestive search is currently turned off in Solr. We should figure out what the error is and then see how well it works when it's working.

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-68

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @rkt6 on Jun 12, 2018, 10:17

Also check on "Did you mean?" search and what it does.

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @rkt6 on Jun 12, 2018, 10:19

Check on Fuzzy searching

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @rkt6 on Jun 12, 2018, 10:20

changed title from **Explore s{-uggestive search-}** to **Explore s{+earch suggestions and alternatives+}**

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @rkt6 on Jun 12, 2018, 10:20

changed the description

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @rkt6 on Jun 12, 2018, 10:20

changed the description

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @bzk60 on Jul 17, 2018, 12:56

assigned to @bzk60

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @bzk60 on Jul 17, 2018, 12:56

added ~938 label

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @bzk60 on Jul 17, 2018, 12:57

removed ~938 label

[2018-09-21 20:33] banukutlu commented on #44
In GitLab by @bzk60 on Jul 17, 2018, 12:57

added ~1518 label

[2018-09-21 20:33] banukutlu opened #45 "Test indexing speeds and load"
In GitLab by @rkt6 on Jun 12, 2018, 10:46

When we have the Blackcat test site up, see how reasonable a frequency of updating incrementals will work.

[2018-09-21 20:33] banukutlu opened #46 "Advanced Search"
Wiki documentation: https://github.com/psu-libraries/psulib_blacklight/wiki/Advanced-Search

https://github.com/projectblacklight/blacklight_advanced_search

[2018-09-21 20:33] banukutlu commented on #46
In GitLab by @bzk60 on Jul 2, 2018, 11:59

removed ~1459 label

[2018-09-21 20:33] banukutlu opened #47 "Return to top"
In GitLab by @rkt6 on Jun 20, 2018, 13:18

Return to top function at the bottom of the search results.

[2018-09-21 20:33] banukutlu opened #48 "Investigate / compare Favorites and alerts between Symphony and Blacklight."
In GitLab by @rkt6 on Jun 20, 2018, 13:29

See what we can do with Favorite functionality in Blacklight/notifications.

Understanding how this is done in Symphony - Todd, Maryam (do we have stats?)

Understanding how this is done in Blacklight - Banu, Charlie

Connected to #71

[2018-09-21 20:33] banukutlu commented on #48
In GitLab by @rkt6 on Jun 20, 2018, 13:30

changed the description

[2018-09-21 20:33] banukutlu opened #49 "Search in other contexts / continue search in?"
https://github.com/psu-libraries/psulib_blacklight/wiki/Contextual-Links-and-Continue-Your-Search-In

Passes your search parameter to a few other places like WorldCat, etc.

LionSearch
WorldCat
EzBorrow
UBorrow
Google Scholar
Hathi Trust
Google Books

Also the following: Course Reserves, Find Articles, Materials Not At Penn State, Library Home Page and ASK!).

[2018-09-21 20:33] banukutlu commented on #49
In GitLab by @rkt6 on Jun 26, 2018, 10:21

changed the description

[2018-09-21 20:33] banukutlu opened #50 "Figure Out What to Untangle about "Requests" from the CAT - Oops!"
In GitLab by @rkt6 on Jun 20, 2018, 13:37

somehow tied into Oops! functionality -- related to something which shows up in my Library Request

Figure out what this is doing.
Figure out what we need to retain from it.
Figure out if it's tied in with WebServices and how.

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-67

[2018-09-21 20:33] banukutlu commented on #50
In GitLab by @tbd3 on Jul 3, 2018, 15:27

Once a week, a report is run in Symphony that is called "List Request Records - OOPS. It is emailed to Lisa Morgan after it finishes. The script that it runs is called requestlist. It is scheduled to list all requests of type "SUGGESTION" for D-7:D0 date range. Notice that it is only picking up SUGGESTION request types and there must be other types of requ

[2018-09-21 20:33] banukutlu commented on #50
In GitLab by @tbd3 on Jul 3, 2018, 15:42

I'm unsure what the other request types are, but it appears that the functionality we are after is for requests of type SUGGESTION anyway. I ran a Symphony production report for all requests in the last 2 months and all 59 of them were of type SUGGESTION.

[2018-09-21 20:33] banukutlu commented on #50
In GitLab by @tbd3 on Jul 3, 2018, 16:14

Selecting all requests in Test CAT, I see requests of type SUGGESTION, PURCHASE, ILL, COMMENT and CHANGEADDR; however, only the SUGGESTION requests are recent. The other types are all from 2003 and 2004.  Looking on production, there were a few of type QUESTION from 2005, but all others were from 2003 and 2004 except for SUGGESTION. Only SUGGESTION were re

[2018-09-21 20:33] banukutlu commented on #50
In GitLab by @cdm32 on Jul 5, 2018, 08:06

So this is a tool for catalogers to report problems with records? And then another cataloger would get this and maybe make a change?

[2018-09-21 20:33] banukutlu commented on #50
In GitLab by @lgk1 on Jul 5, 2018, 08:09

This is branded as  Oops.
Anyone public, PSU user, library employee, etc can submit an oops message to report an error.  Assigned staff in cataloging go through the Oops reports and make corrections as appropriate.

[2018-09-21 20:33] banukutlu commented on #50
In GitLab by @rkt6 on Jul 9, 2018, 09:48

Thanks for untangling this, Todd. It's particularly helpful to know that while there are other kinds of Oops things available, only Suggestions are being used.

@cdm32 if it's catalogers spotting the issue, that's normally handled via email. More of what I've seen are librarians who encounter problems when using the catalog -- typos, that whole "Romance li

[2018-09-21 20:33] banukutlu opened #51 "Determine most useful ways to report an issue (Oops!)"
In GitLab by @rkt6 on Jun 20, 2018, 13:39

Figure out what we need to gather in Oops! forms (such as current URL, browser issues, etc?) and have a way for people to report issues they see.

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-66

[2018-09-21 20:33] banukutlu opened #52 "Evaluate regular error forms"
In GitLab by @rkt6 on Jun 20, 2018, 13:42

Evaluate Blacklight error messages for usefulness.

Determine how these are logged and what kind extra data we might need.

[2018-09-21 20:33] banukutlu opened #53 "Integrate Illiad"
In GitLab by @rkt6 on Jun 20, 2018, 13:49

[2018-09-21 20:35] banukutlu opened #54 "HathiTrust integration"
Integrate HathiTrust access into the Blacklight Catalog.

## HathiTrust ETAS

While ETAS is active, we will query the HathiTrust bibliographic API. If the item is available via ETAS, we will:
- link to ETAS checkout and force the user through validation if needed
- with text "Check out digital copy from HathiTrust" (subject to changes by admin)
- and display HathiTrust logo next to the link.

API

[2018-09-21 20:35] banukutlu commented on #54
In GitLab by @rkt6 on Jun 21, 2018, 15:38

changed the description

[2018-09-21 20:35] banukutlu commented on #54
In GitLab by @rkt6 on Jun 21, 2018, 15:38

removed assignee

[2018-09-21 20:35] banukutlu opened #55 "Google Books integration / preview"
Determine whether we integrate Google Books (or Open Library), including its preview links.

Example 1 partial-text: Title: `Colonial interiors. second series` OCLC # `2628707` and Google Books link goes to https://books.google.com/books?id=RvQ8AAAAYAAJ&source=gbs_ViewAPI

Example 2 full-text: Title: `Farmers' institutes in Pennsylvania to be held under the auspices of the Pennsylvania Department

[2018-09-21 20:35] banukutlu commented on #55
In GitLab by @rkt6 on Jun 21, 2018, 15:40

changed the description

[2018-09-21 20:35] banukutlu opened #56 "Develop useful CAT and Blacklight searches for Regression Testing"
In GitLab by @rkt6 on Jun 21, 2018, 14:57

https://psu.app.box.com/notes/347333927582

Required by #206

[2018-09-21 20:35] banukutlu commented on #56
In GitLab by @rkt6 on Jun 21, 2018, 15:24

changed the description

[2018-09-21 20:35] banukutlu commented on #56
In GitLab by @rkt6 on Jun 21, 2018, 15:43

changed the description

[2018-09-21 20:35] banukutlu commented on #56
In GitLab by @rkt6 on Sep 11, 2018, 12:05

changed the description

[2018-09-21 20:35] banukutlu commented on #56
In GitLab by @cdm32 on Sep 12, 2018, 09:45

:hearts: this, searches are super helpful for tire kicking

[2018-09-21 20:35] banukutlu opened #57 "Display "digital bookplates" (just text for now) and dedications"
Ruth updated 2021-11-16 with current practices and mapping so things below may apply less. We will currently not display actual digital bookplates, but the data we're creating through indexing will let us create image bookplates/enhanced search/however we want to do it. See the wiki https://github.com/psu-libraries/psulib_blacklight/wiki/Endowments-and-Dedications for big picture and https://githu

[2018-09-21 20:35] banukutlu commented on #57
In GitLab by @rkt6 on Jun 26, 2018, 10:34

changed the description

[2018-09-21 20:35] banukutlu opened #58 "Announcement bar"
In GitLab by @rkt6 on Jun 26, 2018, 10:18

To note downtime, freezes, new features, roadmap link when it's in beta.

[2018-09-21 20:35] banukutlu opened #59 "Display a message for Availability when WebServices is not available"
In GitLab by @rkt6 on Jun 26, 2018, 10:23

If we cannot talk to the WebServices or we need to point the WebServices at the test server, we should be able to do so without breaking Blacklight's display/usability (beyond what's necessary).

[2018-09-21 20:35] banukutlu commented on #59
In GitLab by @rkt6 on Sep 4, 2018, 10:13

Note: this must be part of the first milestone to use interactive Web Services.

[2018-09-21 20:35] banukutlu opened #60 "Test cat backup"
In GitLab by @rkt6 on Jun 26, 2018, 10:25

Run a backup copy of the cat which points at Test CAT. See also #59.

[2018-09-21 20:35] banukutlu commented on #60
In GitLab by @rkt6 on Jun 26, 2018, 10:25

changed the description

[2018-09-21 20:35] banukutlu opened #61 "Regression testing scripts for upgrades"
In GitLab by @rkt6 on Jun 26, 2018, 10:27

We need these for both Blacklight and for Sirsi.

Connected #90

[2018-09-21 20:35] banukutlu opened #62 "Viewing nearby items on shelf"
In GitLab by @rkt6 on Jun 26, 2018, 10:28

We need both a link which passes us to a display of Call # browsing and we may consider (for later release) embedding something in the item page or otherwise making a more attractive/engaging display for that browse.

[2018-09-21 20:35] banukutlu opened #63 "Turn on Advanced Search in Blacklight"
In GitLab by @tbd3 on Jun 27, 2018, 13:47

Advanced search is a plugin to Blacklight and can be turned on by bringing in the "blacklight_advanced_search" gem and then running bundle install.  This is described here:

https://github.com/projectblacklight/blacklight_advanced_search

[2018-09-21 20:35] banukutlu commented on #63
In GitLab by @bzk60 on Jun 28, 2018, 11:07

this is a duplicate ticket #46 - so closing this and yes we know about this plugin and will turn that plugin on once we start working on it. thanks!

[2018-09-21 20:35] banukutlu commented on #63
In GitLab by @bzk60 on Jun 28, 2018, 11:07

closed

[2018-09-21 20:35] #63 closed

[2018-09-21 20:35] banukutlu opened #64 "Use Webpacker to compile JS assets"
In GitLab by @bzk60 on Jul 16, 2018, 15:25

https://github.com/projectblacklight/blacklight/wiki/Using-Webpacker-to-compile-javascript-assets
https://www.npmjs.com/package/blacklight-frontend

* [x] ~~Get typeahead working~~ see #65
* [x] Popper is not loading when using webpacker
Fixed using the solution from here: https://github.com/twbs/bootstrap/issues/23381#issuecomment-322179061
* [x] ~~Get

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @cdm32 on Jul 17, 2018, 08:12

@bzk60, will you be looking into...

![Sprockets](https://i.ytimg.com/vi/QHZR9SA5pOg/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLB9wmcKF6Vnaxu8VhmanLR2YbIPpg)

?

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:10

changed the description

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:11

changed the description

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:12

changed the description

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:40

changed the description

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:44

changed title from **{-Investigate Webpacker-}** to **{+Use Webpacker to compile JS assets+}**

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:44

assigned to @cdm32

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:45

added ~938 label

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:45

changed the description

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:46

@cdm32 nope since now that you got the assets loaded using webpacker :)

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:49

changed the description

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:49

changed the description

[2018-09-21 20:35] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018, 09:50

changed the description

[2018-09-21 20:45] #64 closed

[2018-09-21 20:45] banukutlu opened #65 "Typeahead not working"
In GitLab by @bzk60 on Jul 17, 2018, 11:13

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @bzk60 on Jul 17, 2018, 11:16

changed title from **Typeahead {-is -}not working** to **Typeahead not working**

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @bzk60 on Jul 17, 2018, 11:23

changed the description

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @bzk60 on Jul 17, 2018, 11:23

assigned to @cdm32

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 17, 2018, 15:00

added ~936 label

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 20, 2018, 08:41

added ~938 label

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 20, 2018, 10:11

removed ~938 label

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 20, 2018, 10:28

added ~938 label

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 20, 2018, 10:49

mentioned in commit fba1fb7096f311988b41558471bc0661b8d947fe

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 23, 2018, 12:08

closed via commit fba1fb7096f311988b41558471bc0661b8d947fe

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 23, 2018, 12:08

closed via commit bc5220150319669ce4b400aa7d3bbcd6239b3fcb

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Jul 23, 2018, 12:08

closed via merge request !5

[2018-09-21 20:45] banukutlu commented on #65
In GitLab by @cdm32 on Aug 29, 2018, 10:28

mentioned in commit bc5220150319669ce4b400aa7d3bbcd6239b3fcb

[2018-09-21 20:45] #65 closed

[2018-09-21 20:45] banukutlu opened #66 "Librarian View not working"
In GitLab by @bzk60 on Jul 17, 2018, 11:16

![Screen_Shot_2018-07-17_at_11.16.06_AM](/uploads/31879b3c693f05882ed841325c1381ae/Screen_Shot_2018-07-17_at_11.16.06_AM.png)

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 17, 2018, 11:19

Needed to apply the solrconfig.xml change to add marc_display to fl from here: https://github.com/projectblacklight/blacklight/pull/1747/files

Also blacklight-marc 6.2 (latest release) is not BL7 ready yet so I had to switch to use the latest from the repo.

After pulling the fix, need to run `bundle update blacklight-marc`

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 17, 2018, 11:23

added ~938 label

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 17, 2018, 12:57

assigned to @bzk60

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 17, 2018, 16:27

added ~936 label

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 20, 2018, 09:01

Also I added this temporary fix for Librarian View style for bootstrap 4 compatibility: https://github.com/projectblacklight/demo.projectblacklight.org/pull/10/files.

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @cdm32 on Jul 20, 2018, 11:52

![Screen_Shot_2018-07-20_at_11.49.49_AM](/uploads/4f1d07026e8858adac6f6e20bb915369/Screen_Shot_2018-07-20_at_11.49.49_AM.png)

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 20, 2018, 15:11

size() is deprecated in jQuery 1.8, need to use length instead - https://api.jquery.com/size/

@cdm32 added a PR to BL repo for this: https://github.com/projectblacklight/blacklight/pull/1947

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @cdm32 on Jul 20, 2018, 15:33

mentioned in commit 09d622bbfc7355917b188490778667131d4ced00

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 23, 2018, 12:17

closed

[2018-09-21 20:45] banukutlu commented on #66
In GitLab by @bzk60 on Jul 23, 2018, 12:17

removed ~1508 label

[2018-09-21 20:45] #66 closed

[2018-09-21 20:45] banukutlu opened #67 "How to run the core BL tests"
In GitLab by @ful105 on Jul 17, 2018, 14:24

https://github.com/projectblacklight/blacklight/wiki/testing

[2018-09-21 20:45] banukutlu commented on #67
In GitLab by @bzk60 on Jul 18, 2018, 09:53

changed the description

[2018-09-21 20:45] banukutlu commented on #67
In GitLab by @bzk60 on Aug 17, 2018, 10:31

closing this since during the BL Summit we learned that others are not running core BL tests only tests for their custom work.

[2018-09-21 20:45] banukutlu commented on #67
In GitLab by @bzk60 on Aug 17, 2018, 10:31

closed

[2018-09-21 20:45] banukutlu commented on #67
In GitLab by @cdm32 on Aug 17, 2018, 16:29

I don't know. I'd still like to know how that's done... Can we leave it open and remove the milestone?

[2018-09-21 20:45] banukutlu commented on #67
In GitLab by @bzk60 on Aug 20, 2018, 12:00

reopened

[2018-09-21 20:45] banukutlu opened #68 "Document dev instructions for using Webpacker"
In GitLab by @bzk60 on Jul 17, 2018, 16:22

related to #64

* [x]  what goes in the various files for webpacker

[2018-09-21 20:45] banukutlu commented on #68
In GitLab by @bzk60 on Jul 17, 2018, 16:36

assigned to @bzk60

[2018-09-21 20:45] banukutlu commented on #68
In GitLab by @cdm32 on Jul 18, 2018, 07:56

changed the description

[2018-09-21 20:45] banukutlu commented on #68
In GitLab by @cdm32 on Jul 18, 2018, 16:28

added ~938 label

[2018-09-21 20:45] banukutlu commented on #68
In GitLab by @cdm32 on Jul 18, 2018, 16:28

removed ~938 label

[2018-09-21 20:45] banukutlu commented on #68
In GitLab by @cdm32 on Jul 18, 2018, 16:29

see https://git.psu.edu/i-tech/psulib_blacklight/wikis/How-to-Use-webpacker (stubbed)

[2018-09-21 21:07] banukutlu opened #69 "Determine testing strategy with rspec"
In GitLab by @bzk60 on Jul 17, 2018, 16:26

[2018-09-21 21:07] banukutlu commented on #69
In GitLab by @bzk60 on Jul 18, 2018, 14:05

changed title from **{-Investigate R-}spec** to **{+Determine testing strategy with r+}spec**

[2018-09-21 21:07] banukutlu opened #70 "checkbox_submit not working"
In GitLab by @bzk60 on Jul 17, 2018, 16:31

stemming from #64

EDIT 7/23/18:

this is now a RoR/Blacklight issue. perhaps a route problem or something to do with how session info is handled.

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 18, 2018, 07:55

changed the description

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 18, 2018, 16:28

added ~938 label

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 19, 2018, 10:46

assigned to @cdm32

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 08:41

removed ~938 label

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 13:44

added ~938 label

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 14:36

![2018-07-20_1435](/uploads/26d640eb5e792fe535920b1f23552794/2018-07-20_1435.png)

when just checkbox_submit.js is loaded: no errors
when checkbox_submit.js and bookmark_tolggle.js are loaded this happens with this error:

![Screen_Shot_2018-07-20_at_2.36.32_PM](/uploads/b3c8849a5f60f15f294fb112a5c1f628/Screen_Shot_2018-07-20_at_2.36.32_PM.png)

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @bzk60 on Jul 20, 2018, 14:41

aha similar error that is for the modal

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 14:43

bet it's a deprecation in jquery, checking now

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 14:47

yup:

https://api.jquery.com/size/

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 14:53

using `length` instead of `size()` works, but I am seeing this when I re-check an unchecked box in my bookmarks

![Screen_Shot_2018-07-20_at_2.53.21_PM](/uploads/f462f7124f5ee3e5d96d26eec5d127fb/Screen_Shot_2018-07-20_at_2.53.21_PM.png)

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 15:27

so, fix is https://github.com/projectblacklight/blacklight/pull/1947

this fix also fixes #66

in the meantime.... guess we can use the `cdmo` fork for our front end

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 20, 2018, 15:33

mentioned in commit 09d622bbfc7355917b188490778667131d4ced00

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @bzk60 on Jul 20, 2018, 16:00

yes good idea!

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 10:07

the problem with this issue is that there's an error on uncheck => check. you get the error here: https://git.psu.edu/i-tech/psulib_blacklight/issues/70#note_104185

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 10:16

Dumpe of `xhr.responseText`:

[code]

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 10:26

this is not broken on the demo blacklight, fwiw

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 12:08

closed via commit 09d622bbfc7355917b188490778667131d4ced00

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 12:08

closed via commit bc5220150319669ce4b400aa7d3bbcd6239b3fcb

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 12:08

closed via merge request !5

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @bzk60 on Jul 23, 2018, 12:16

removed ~938 label

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 12:23

this is no longer a pure js/frontend problem. It involves the backend/ruby. So I'm going to throw to the back log __for now__ so that I can work on capistrano stuff

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Jul 23, 2018, 12:24

changed the description

[2018-09-21 21:07] banukutlu commented on #70
In GitLab by @cdm32 on Aug 29, 2018, 10:28

mentioned in commit bc5220150319669ce4b400aa7d3bbcd6239b3fcb

[2018-09-21 21:07] #70 closed

[2018-09-21 21:07] banukutlu opened #71 "when you click to bookmark it works, when you "unbookmark" it errors"
User does a search
User clicks a checkbox to bookmark
User clicks the same checkbox to un-bookmark
An alert message is displayed saying "error"

The application log looks like this:

[code]

This doesn't happen in the demo blacklight and I am not finding it in the issue queue on the blacklight main repo.

stemming from #64
connected to #91

[2018-09-21 21:07] banukutlu commented on #71
In GitLab by @cdm32 on Jul 18, 2018, 07:55

changed the description

[2018-09-21 21:07] banukutlu commented on #71
In GitLab by @cdm32 on Jul 20, 2018, 14:01

added ~938 label

[2018-09-21 21:07] banukutlu commented on #71
In GitLab by @cdm32 on Jul 20, 2018, 14:01

assigned to @cdm32

[2018-09-21 21:07] banukutlu commented on #71
In GitLab by @cdm32 on Jul 20, 2018, 15:33

mentioned in commit 09d622bbfc7355917b188490778667131d4ced00

[2018-09-21 21:07] banukutlu commented on #71
In GitLab by @ful105 on Aug 24, 2018, 14:14

removed ~1508 label

[2018-09-21 21:07] banukutlu commented on #71
In GitLab by @ful105 on Aug 24, 2018, 14:15

when you click to bookmark it works, when you "unbookmark" it errors

[2018-09-21 21:07] banukutlu opened #72 "Authentication, User Roles and Login"
In GitLab by @bzk60 on Jul 17, 2018, 17:21

https://github.com/psu-libraries/psu_dir?
https://github.com/psu-libraries/devise_remote?

[2018-09-21 21:07] banukutlu commented on #72
In GitLab by @bzk60 on Jul 17, 2018, 17:23

changed title from **Authentication{- and User-} Login** to **Authentication{+, User Roles and+} Login**

[2018-09-21 21:07] banukutlu commented on #72
In GitLab by @bzk60 on Jul 17, 2018, 17:29

changed the description

[2018-09-21 21:12] banukutlu opened #73 "Suggest not working"
In GitLab by @bzk60 on Jul 18, 2018, 09:38

/catalog/suggest

![Screen_Shot_2018-07-18_at_9.37.57_AM](/uploads/c26d632f18cb53a3ce6c39263a80d51d/Screen_Shot_2018-07-18_at_9.37.57_AM.png)

[2018-09-21 21:12] banukutlu commented on #73
In GitLab by @bzk60 on Jul 18, 2018, 14:07

This seems to be a BL issue since when querying directly Solr returns back results

http://localhost:8983/solr/blacklight-core/suggest?q=rose

![Screen_Shot_2018-07-18_at_2.01.47_PM](/uploads/c2c98830d0915eac10a0cab444747e9d/Screen_Shot_2018-07-18_at_2.01.47_PM.png)

[2018-09-21 21:12] banukutlu commented on #73
In GitLab by @bzk60 on Jul 19, 2018, 13:41

mentioned in commit 617ca84821b422c07c229e317311985436c2821e

[2018-09-21 21:12] banukutlu commented on #73
In GitLab by @bzk60 on Jul 19, 2018, 13:43

this seems to be routing issue, started working after cleaning routes.rb

[2018-09-21 21:12] banukutlu commented on #73
In GitLab by @ful105 on Aug 24, 2018, 14:13

closed

[2018-09-21 21:12] #73 closed

[2018-09-21 21:12] banukutlu opened #74 "errors on yarn commands"
In GitLab by @cdm32 on Jul 19, 2018, 11:18

[code]

[2018-09-21 21:12] banukutlu commented on #74
In GitLab by @cdm32 on Jul 20, 2018, 08:40

added ~938 label

[2018-09-21 21:12] banukutlu commented on #74
In GitLab by @cdm32 on Jul 20, 2018, 08:40

removed ~938 label

[2018-09-21 21:12] banukutlu commented on #74
In GitLab by @cdm32 on Jul 20, 2018, 10:49

added ~938 label

[2018-09-21 21:12] banukutlu commented on #74
In GitLab by @cdm32 on Jul 20, 2018, 10:55

removed ~938 label

[2018-09-21 21:13] banukutlu commented on #74
In GitLab by @cdm32 on Jul 20, 2018, 11:48

added ~938 label

[2018-09-21 21:13] banukutlu commented on #74
In GitLab by @cdm32 on Jul 20, 2018, 13:44

mentioned in commit 013064419b59e7adff8a5397b608d5d97179f75d

[2018-09-21 21:13] banukutlu commented on #74
In GitLab by @cdm32 on Jul 20, 2018, 13:44

closed

[2018-09-21 21:13] banukutlu commented on #74
In GitLab by @bzk60 on Jul 23, 2018, 12:17

removed ~938 label

[2018-09-21 21:13] banukutlu commented on #74
In GitLab by @cdm32 on Aug 29, 2018, 10:28

mentioned in commit bc5220150319669ce4b400aa7d3bbcd6239b3fcb

[2018-09-21 21:13] #74 closed

[2018-09-21 21:13] banukutlu opened #75 "$ not defined"
In GitLab by @cdm32 on Jul 20, 2018, 08:44

only on the blacklight homepage

![Screen_Shot_2018-07-20_at_8.43.49_AM](/uploads/1d2ccf1b1232db73ad5ddec0f35fef32/Screen_Shot_2018-07-20_at_8.43.49_AM.png)

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 20, 2018, 08:44

added ~936 label

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 20, 2018, 08:44

changed the description

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 20, 2018, 10:16

it's this code from the blacklight gem:

[code]

in `_home_text.html.erb`

The `$` isn't known because jQuery isn't loaded yet.

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 20, 2018, 10:25

mentioned in commit 71647a3bb1f25e4b2c60d65f2cd549f152290390

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 20, 2018, 10:26

assigned to @cdm32

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 20, 2018, 10:26

closed

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 20, 2018, 10:28

now we can actually see this:

![Screen_Shot_2018-07-20_at_10.28.09_AM](/uploads/e043780819ae32a2895ce796c6c577f8/Screen_Shot_2018-07-20_at_10.28.09_AM.png)

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @cdm32 on Jul 23, 2018, 12:08

mentioned in commit bc5220150319669ce4b400aa7d3bbcd6239b3fcb

[2018-09-21 21:13] banukutlu commented on #75
In GitLab by @bzk60 on Jul 23, 2018, 12:17

removed ~938 label

[2018-09-21 21:13] #75 closed

[2018-09-21 21:13] banukutlu opened #76 "Rename the application (currently marcrecordsb)"
In GitLab by @bzk60 on Jul 20, 2018, 10:22

null

[2018-09-21 21:13] banukutlu commented on #76
In GitLab by @bzk60 on Jul 20, 2018, 10:22

changed title from **Rename the app (currently marcrecordsb)** to **Rename the app{+lication+} (currently marcrecordsb)**

[2018-09-21 21:13] banukutlu commented on #76
In GitLab by @bzk60 on Jul 20, 2018, 10:22

assigned to @bzk60

[2018-09-21 21:13] banukutlu commented on #76
In GitLab by @bzk60 on Jul 20, 2018, 10:22

added ~938 label

[2018-09-21 21:13] banukutlu commented on #76
In GitLab by @bzk60 on Jul 20, 2018, 10:58

mentioned in commit 7179d4d159871c207a9d5ee0d00f0ea35df712ea

[2018-09-21 21:13] banukutlu commented on #76
In GitLab by @bzk60 on Jul 20, 2018, 11:03

closed

[2018-09-21 21:13] banukutlu commented on #76
In GitLab by @bzk60 on Jul 20, 2018, 11:03

removed ~938 label

[2018-09-21 21:13] #76 closed

[2018-09-21 21:13] banukutlu opened #77 "core.js copy after every yarn is a pain"
In GitLab by @cdm32 on Jul 20, 2018, 10:54

[2018-09-21 21:13] banukutlu commented on #77
In GitLab by @cdm32 on Jul 20, 2018, 10:54

added ~938 label

[2018-09-21 21:13] banukutlu commented on #77
In GitLab by @cdm32 on Jul 20, 2018, 10:54

removed ~938 label

[2018-09-21 21:13] banukutlu commented on #77
In GitLab by @cdm32 on Jul 20, 2018, 10:55

added ~938 label

[2018-09-21 21:13] #77 closed

[2018-09-21 21:44] banukutlu opened #78 "Unchecking bookmark error"
In GitLab by @bzk60 on Jul 20, 2018, 16:33

https://git.psu.edu/i-tech/psulib_blacklight/issues/70#note_104185

[2018-09-21 21:44] banukutlu commented on #78
In GitLab by @bzk60 on Jul 20, 2018, 16:34

closed

[2018-09-21 21:44] #78 closed

[2018-09-21 21:44] banukutlu opened #79 "Pruning"
In GitLab by @cdm32 on Jul 23, 2018, 10:33

* [x]  Should we prune these:
[code]
not so sure about these so not removed yet:
[code]

* [x] Remove Action Cable? https://blog.sundaycoding.com/blog/2016/08/10/how-to-remove-action-cable-from-a-rails-app/
  removed these related files
[code]
  but actually leaving the gem
  `gem "rails"` in the Gemfile
  `require 'rails/all'` in config/application.rb

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @cdm32 on Jul 23, 2018, 10:34

consider https://github.com/sul-dlss-labs/rialto-webapp/blob/master/Gemfile

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Jul 23, 2018, 10:39

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 24, 2018, 10:23

assigned to @bzk60

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 24, 2018, 10:24

added ~938 label

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 27, 2018, 14:37

created branch [`79-pruning`](https://git.psu.edu/i-tech/psulib_blacklight/compare/master...79-pruning)

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 09:30

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 11:34

marked the task **Removing these for now, will probably put back when we start writing tests:** as completed

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 11:35

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 13:46

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:33

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:34

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:46

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:46

marked the task **Should we prune these:** as completed

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:49

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:50

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:51

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:52

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 15:52

marked the task **```gem 'tzinfo-data', platforms: [:mingw, :mswin, :x64_mingw, :jruby]```** as completed

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 17:40

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 28, 2018, 17:40

marked the task **Remove ```#gem 'turbolinks', '~> 5'``` and include it via yarn** as completed

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 29, 2018, 14:06

marked the task **```gem "traject", "~> 2.3"``` could be removed from production** as completed

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 29, 2018, 14:15

mentioned in commit 683875a17347792eac4eea4e069c5afd0c59a5dc

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 29, 2018, 14:52

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 30, 2018, 16:22

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 30, 2018, 16:23

changed the description

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 30, 2018, 16:30

marked the task **Remove Action Cable? https://blog.sundaycoding.com/blog/2016/08/10/how-to-remove-action-cable-from-a-rails-app/** as completed

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @bzk60 on Aug 30, 2018, 17:26

mentioned in merge request !8

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @cdm32 on Sep 4, 2018, 15:21

closed via commit 05218fd8a0ec1fc7c9886d3ae6af873176f1c743

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @cdm32 on Sep 4, 2018, 15:21

closed via merge request !8

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @cdm32 on Sep 4, 2018, 15:23

added ~938 label

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @cdm32 on Sep 4, 2018, 15:23

removed ~1508 label

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @cdm32 on Sep 4, 2018, 15:23

i think we need to address the sass pipeline, mind if i take a look at that?

[2018-09-21 21:44] banukutlu commented on #79
In GitLab by @cdm32 on Sep 4, 2018, 15:24

https://www.neontsunami.com/posts/replacing-rails-asset-pipeline-with-webpacker

[2018-09-21 21:47] #79 closed

[2018-09-21 21:47] banukutlu opened #80 "Consider using Heroku for a temp staging env?"
In GitLab by @bzk60 on Jul 23, 2018, 10:35

https://github.com/projectblacklight/blacklight/wiki/Blacklight-on-Heroku

https://devcenter.heroku.com/articles/git
https://devcenter.heroku.com/articles/procfile

https://devcenter.heroku.com/articles/websolr - websolr addon for heroku is not free - 20$/mo for staging

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 10:36

assigned to @bzk60

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 10:36

added ~938 label

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 12:13

changed the description

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 12:14

changed the description

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 12:26

changed the description

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 12:27

changed the description

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 12:28

Deployed but throws an error since there is no solr index configured. https://psulib-blacklight.herokuapp.com/

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 23, 2018, 12:29

changed the description

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Jul 27, 2018, 12:49

removed ~938 label

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Aug 17, 2018, 10:27

closing this since right now not much required as @cdm32 already started working on the ansible scripts to deploy to a qa server.

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @bzk60 on Aug 17, 2018, 10:27

closed

[2018-09-21 21:47] banukutlu commented on #80
In GitLab by @cdm32 on Aug 17, 2018, 16:28

yeah, it's still an interesting thing, but I agree that we can close it and explore it again later if we like.

[2018-09-21 21:47] #80 closed

[2018-09-21 21:47] banukutlu opened #81 "Dev environment warnings"
In GitLab by @cdm32 on Jul 23, 2018, 12:27

[code]

[2018-09-21 21:47] banukutlu commented on #81
In GitLab by @cdm32 on Sep 5, 2018, 13:32

related: https://github.com/ruby/fileutils/issues/22

[2018-09-21 21:47] banukutlu commented on #81
In GitLab by @cdm32 on Sep 17, 2018, 16:23

added ~938 label

[2018-09-21 21:47] banukutlu commented on #81
In GitLab by @cdm32 on Sep 17, 2018, 16:31

The problem has been solved, I tried a few things, including removing fileutils and adding it again.
 When I did that I got a new error:

[code]

though I'm not 100% sure which step solved it, here's what I did next:

`brew update`
`gem update --system`

I think it was probably the last piece, which does the following: `Update the RubyGems system softwar

[2018-09-21 21:47] banukutlu commented on #81
In GitLab by @cdm32 on Sep 17, 2018, 16:31

closed

[2018-09-21 21:47] banukutlu commented on #81
In GitLab by @bzk60 on Sep 21, 2018, 09:23

removed ~938 label

[2018-09-21 21:47] banukutlu commented on #81
In GitLab by @cdm32 on Sep 21, 2018, 10:40

Ok, after some more require issues with failed loads from bootsnap I finally got it solved: clear the cache (just like Drupal 😅) for bootsnap:

- go to the project home, then cd into tmp/cache
- delete `bootsnap-load-path-cache` and `bootsnap-compile-cache`

[2018-09-21 21:47] banukutlu commented on #81
In GitLab by @cdm32 on Sep 21, 2018, 10:44

See https://github.com/Shopify/bootsnap/issues/73

[2018-09-21 21:47] #81 closed

[2018-09-21 21:47] banukutlu opened #82 "Investigate Temple's ansible work"
In GitLab by @cdm32 on Aug 15, 2018, 14:21

https://github.com/tulibraries/ansible-rails_app

rather than #35

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 15, 2018, 14:21

added ~938 label

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @bzk60 on Aug 17, 2018, 10:27

changed title from **{-i-}nvestigate Temple's ansible work** to **{+I+}nvestigate Temple's ansible work**

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 21, 2018, 13:05

created branch [`82-investigate-temple-s-ansible-work`](https://git.psu.edu/i-tech/psulib_blacklight/compare/master...82-investigate-temple-s-ansible-work)

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 22, 2018, 10:41

got the script to work, deployed our blacklight code to sandbox02.vmhost.psu.edu. Fully working instance.

will be working on committing the ansible scripts with my modifications next.

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @bzk60 on Aug 22, 2018, 11:00

so exciting! thanks @cdm32

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @ful105 on Aug 22, 2018, 13:11

@cdm32 @bzk60 This is so exciting!! Congratulations! :)

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @bzk60 on Aug 22, 2018, 13:35

this is all @cdm32's work! :clap:

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 23, 2018, 11:15

adding rails 5.2 with credentials now

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 27, 2018, 11:33

With latest commit on https://git.psu.edu/i-tech/psulib_blacklight_deploy, I think the deployment scripts are in good shape and ready to be used generally.

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 27, 2018, 11:33

closed

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 27, 2018, 11:34

Deployment to blackcat01qa.libraries.psu.edu was successful.

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @bzk60 on Aug 27, 2018, 11:35

this is great! thanks @cdm32!

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @cdm32 on Aug 27, 2018, 11:53

mentioned in merge request !6

[2018-09-21 21:47] banukutlu commented on #82
In GitLab by @bzk60 on Aug 29, 2018, 10:28

mentioned in commit 0945b116450529ef6717a6182bb4dc82048c0c7a

[2018-09-21 21:47] #82 closed

[2018-09-21 21:51] banukutlu opened #83 "Setup a qa server for psul blacklight"
In GitLab by @bzk60 on Aug 17, 2018, 11:09

[@tbd3 @cdm32]

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @bzk60 on Aug 17, 2018, 11:10

changed title from **{-Black Ca-}t qa server** to **{+Psul Blackligh+}t qa server**

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @bzk60 on Aug 17, 2018, 11:10

assigned to @tbd3

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @bzk60 on Aug 17, 2018, 11:12

changed title from **{-Psul Blacklight qa server-}** to **{+Set up qa server for psul blacklight+}**

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @bzk60 on Aug 17, 2018, 11:27

changed title from **Set{- up-} qa server for psul blacklight** to **Set{+up a+} qa server for psul blacklight**

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @tbd3 on Aug 17, 2018, 11:43

Setting up this server. Charlie will use Ansible to install Blacklight and dependencies. Still to do: get apache running and set up ssh keys for Symphony to move files to the server.

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @bzk60 on Aug 17, 2018, 11:49

changed the description

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @tbd3 on Aug 17, 2018, 13:54

The server is set up all except for solr and blacklight installs. Apache is working and displays pages from /data/websites/psulib_blacklight (can easily be changed if we want). ansible_deploy_bot and sirsi users are there. Keys are in place so new location and library policy data will come over from Symphony daily and goes to the apache document root for

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @cdm32 on Aug 17, 2018, 16:44

More like "Charlie might." As I said IRL, Ansible should pan out, we'll see, I'll keep #82 updated. In the exploratory phase.

Related #72

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @cdm32 on Aug 24, 2018, 13:14

assigned to @cdm32 and unassigned @tbd3

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @cdm32 on Aug 24, 2018, 16:05

I had to make some minor changes to the apache config file in order to get blacklight to work on blackcat01qa, but it is now working. The deployment script was able to deploy our application (as well as setting up dependencies including solr)

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @cdm32 on Aug 27, 2018, 11:44

I'll consider this issue closed, feel free to reopen (anyone) if I've missed somethign

[2018-09-21 21:51] banukutlu commented on #83
In GitLab by @cdm32 on Aug 27, 2018, 11:44

closed

[2018-09-21 21:51] #83 closed

[2018-09-21 21:51] banukutlu opened #84 "Upgrade to Rails 5.2"
In GitLab by @bzk60 on Aug 22, 2018, 10:47

`rails app:update`

https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-1-to-rails-5-2

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @bzk60 on Aug 22, 2018, 10:48

created branch [`84-upgrade-to-rails-5-2`](https://git.psu.edu/i-tech/psulib_blacklight/compare/master...84-upgrade-to-rails-5-2)

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @bzk60 on Aug 22, 2018, 10:52

mentioned in commit 4908acb3f58ccbaba6761c7c081546fb76b08414

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @cdm32 on Aug 22, 2018, 11:16

mentioned in commit 1e8bc127e292174a1d63b2e2629e898568fe430a

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @bzk60 on Aug 22, 2018, 12:03

changed the description

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @bzk60 on Aug 22, 2018, 12:25

mentioned in commit b09d61cf615bc4ffecde3796cdabdbb91f94a5ba

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @bzk60 on Aug 22, 2018, 12:27

changed the description

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @bzk60 on Aug 22, 2018, 12:28

changed title from **Upgrade to {-r-}ails 5.2** to **Upgrade to {+R+}ails 5.2**

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @cdm32 on Aug 23, 2018, 11:50

mentioned in commit 819914c39dc304466133fb77249abb7da7e54ddd

[2018-09-21 21:51] banukutlu commented on #84
In GitLab by @ful105 on Aug 24, 2018, 14:16

closed

[2018-09-21 21:51] #84 closed

[2018-09-21 21:51] banukutlu opened #85 "Upgrade to Solr 7.4.0"
In GitLab by @bzk60 on Aug 22, 2018, 10:54

[2018-09-21 21:51] banukutlu commented on #85
In GitLab by @bzk60 on Aug 22, 2018, 10:54

created branch [`85-upgrade-to-solr-7-4-0`](https://git.psu.edu/i-tech/psulib_blacklight/compare/master...85-upgrade-to-solr-7-4-0)

[2018-09-21 21:51] banukutlu commented on #85
In GitLab by @bzk60 on Aug 22, 2018, 11:32

removed ~938 label

[2018-09-21 21:51] banukutlu commented on #85
In GitLab by @bzk60 on Aug 22, 2018, 13:38

added ~938 label

[2018-09-21 21:51] banukutlu commented on #85
In GitLab by @bzk60 on Aug 23, 2018, 13:29

mentioned in commit 5f1d0ee257f7173bae9229498cf4ea9ee93b9081

[2018-09-21 21:51] banukutlu commented on #85
In GitLab by @bzk60 on Sep 5, 2018, 09:48

closed

[2018-09-21 21:51] banukutlu commented on #85
In GitLab by @bzk60 on Sep 5, 2018, 09:48

removed ~1508 label

[2018-09-21 21:51] #85 closed

[2018-09-21 21:51] banukutlu opened #86 "Document what should be in our BL catalog"
https://psu.app.box.com/notes/337786290129?

[2018-09-21 21:51] banukutlu commented on #86
In GitLab by @cdm32 on Aug 22, 2018, 16:02

it'd be good to know what *is* in our catalog too, is there documentation somewhere?

[2018-09-21 21:51] banukutlu commented on #86
In GitLab by @bzk60 on Aug 22, 2018, 16:19

I do not know but maybe @rkt6 @mxk128 know if there are any docs?

[2018-09-21 21:51] banukutlu commented on #86
In GitLab by @rkt6 on Aug 22, 2018, 16:21

What is the definition (or _type_) of "what"? :sweat_smile: (I'm not being facetious...are we talking about the kinds of records? other stuff?)

[2018-09-21 21:51] banukutlu commented on #86
In GitLab by @bzk60 on Aug 22, 2018, 16:22

yes to kinds of records. what can be other stuff?

[2018-09-21 21:51] banukutlu commented on #86
In GitLab by @rkt6 on Aug 22, 2018, 16:22

So MARC records... then MARC records from different sources and types?

... then patron records? Is that the kind of thing we're talking about?

[2018-09-21 21:52] banukutlu opened #87 "Migrate to GitHub"
In GitLab by @ful105 on Aug 24, 2018, 13:50

https://github.com/piceaTech/node-gitlab-2-github

- [x] Migrate
  - [x] Milestones
  - [x] Labels
  - [x] Issues and comments
  - [x] Attachments - manually
  - [x] Wiki - manually
- [x] Protect master branch
- [x] Check access permissions
- [x] Deploy keys
- [x] Archive repo in gitlab
- [x] Update Readme

[2018-09-21 21:52] banukutlu commented on #87
In GitLab by @bzk60 on Aug 24, 2018, 14:30

changed title from **Migrate to GiHub** to **Migrate to Gi{+t+}Hub**

[2018-09-21 21:52] banukutlu commented on #87
In GitLab by @rkt6 on Sep 18, 2018, 10:26

Spell out how we will all change our upstreams, etc. to GitHub in terms of simple, shared instructions.

[2018-09-21 21:52] banukutlu commented on #87
In GitLab by @rkt6 on Sep 18, 2018, 10:26

Banu: Come up with migration plan.

[2018-09-21 21:52] banukutlu commented on #87
In GitLab by @rkt6 on Sep 18, 2018, 10:26

assigned to @bzk60

[2018-09-21 21:52] banukutlu commented on #87
In GitLab by @bzk60 on Sep 20, 2018, 11:41

changed the description

[2018-09-21 21:52] banukutlu commented on #87
In GitLab by @bzk60 on Sep 20, 2018, 17:37

added ~938 label

[2018-09-21 21:52] banukutlu opened #88 "Setup Continuous Integration (Consider Travis and Circle)"
In GitLab by @ful105 on Aug 24, 2018, 13:50

[2018-09-21 21:52] banukutlu commented on #88
In GitLab by @bzk60 on Sep 20, 2018, 15:39

assigned to @cdm32

[2018-09-21 21:52] banukutlu opened #89 "Code coverage service investigation"
In GitLab by @ful105 on Aug 24, 2018, 13:51

To setup with Coveralls, Requires #88

Requires #33

[2018-09-21 21:52] banukutlu commented on #89
In GitLab by @bzk60 on Sep 20, 2018, 15:40

assigned to @cdm32

[2018-09-21 21:52] banukutlu opened #90 "Manual tests"
In GitLab by @cdm32 on Aug 27, 2018, 13:46

what to click to test functionality

[2018-09-21 21:52] banukutlu opened #91 "Clear Bookmarks not working"
In GitLab by @bzk60 on Aug 28, 2018, 15:43

![screen_shot_2018-08-28_at_3 43 07_pm](https://user-images.githubusercontent.com/6477867/46040446-510ed780-c0de-11e8-88b3-6d176fc3d9c7.png)

![screen_shot_2018-08-28_at_3 42 13_pm](https://user-images.githubusercontent.com/6477867/46040469-5ff58a00-c0de-11e8-9809-50dab0da36f6.png)

[2018-09-21 21:52] banukutlu opened #92 "bin/setup"
In GitLab by @bzk60 on Aug 28, 2018, 16:55

https://robots.thoughtbot.com/bin-setup

[2018-09-21 21:52] banukutlu commented on #92
In GitLab by @cdm32 on Aug 29, 2018, 07:42

thanks for making an issue of this! :)

[2018-09-21 21:52] banukutlu opened #93 "Use Ruth's translation branch of blacklight-marc until her PR is merged"
In GitLab by @rkt6 on Sep 4, 2018, 10:12

[2018-09-21 21:52] banukutlu opened #94 "Remove subject ERA and GEO facets"
In GitLab by @rkt6 on Sep 4, 2018, 13:30

The data in subject era and geo (but not regular subject) facets which come built into traject and blacklight are not high enough quality to use in our production instance. They need to be removed from both index and blacklight display/facet.

Requires psu-libraries/psulib_traject#21

[2018-09-21 21:52] banukutlu commented on #94
In GitLab by @bzk60 on Sep 4, 2018, 15:29

assigned to @bzk60

[2018-09-21 21:52] banukutlu commented on #94
In GitLab by @bzk60 on Sep 7, 2018, 17:12

mentioned in commit e121590932392ea9a3a602972483e184d493b071

[2018-09-21 21:52] banukutlu opened #95 "Uninitialized constant traject in production"
In GitLab by @cdm32 on Sep 6, 2018, 14:39

related to https://groups.google.com/forum/#!topic/blacklight-development/HrpLxDnNxww

[code]

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 6, 2018, 14:39

changed title from **Uninitialized constant traject** to **Uninitialized constant traject{+ in production+}**

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 6, 2018, 15:04

changed the description

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 6, 2018, 15:24

changed the description

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 7, 2018, 08:24

this one is solved by fixing the downstream bug in `blacklight-marc`

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 7, 2018, 08:31

added a PR https://github.com/projectblacklight/blacklight-marc/pull/61, for now we'll just use the fork I made, I suppose?

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 10, 2018, 13:08

added ~938 label

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 10, 2018, 13:08

created branch [`95-uninitialized-constant-traject-in-production`](https://git.psu.edu/i-tech/psulib_blacklight/compare/master...95-uninitialized-constant-traject-in-production)

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 10, 2018, 13:13

mentioned in commit f96eebe7af626362fd036720e3780fde764d1762

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 10, 2018, 13:14

mentioned in merge request !13

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 10, 2018, 13:15

when https://github.com/projectblacklight/blacklight-marc/pull/61 is merged, we can undo this

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @bzk60 on Sep 10, 2018, 13:23

closed via merge request !13

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @cdm32 on Sep 10, 2018, 13:23

closed via commit f96eebe7af626362fd036720e3780fde764d1762

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @bzk60 on Sep 10, 2018, 13:23

closed via commit 556f999187ca0221da19505e178894d84ce79400

[2018-09-21 21:52] banukutlu commented on #95
In GitLab by @bzk60 on Sep 10, 2018, 13:26

removed ~1508 label

[2018-09-21 21:53] #95 closed

[2018-09-21 21:53] banukutlu opened #96 "Deprecation warnings"
In GitLab by @cdm32 on Sep 6, 2018, 15:23

[code]

[2018-09-21 21:53] banukutlu opened #97 "Solr suggester index exception"
In GitLab by @bzk60 on Sep 6, 2018, 16:27

[code]

[2018-09-21 21:55] banukutlu opened #98 "Solr crash on blacklight start with full index"
In GitLab by @cdm32 on Sep 7, 2018, 08:38

`I, [2018-09-06T15:59:53.603455 #1816]  INFO -- : [8a3b3aec-dc25-4758-a046-fa000df8cad9] Started GET "/" for 128.118.152.108 at 2018-09-06 15:59:53 -0400
I, [2018-09-06T15:59:53.604505 #1816]  INFO -- : [8a3b3aec-dc25-4758-a046-fa000df8cad9] Processing by CatalogController#index as HTML
I, [2018-09-06T16:00:03.066205 #1816]  INFO -- : [8a3b3aec-dc25-4758-

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @cdm32 on Sep 7, 2018, 08:39

changed the description

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @cdm32 on Sep 7, 2018, 08:41

attempted fix seemed to help performance, but still crashes:

`/etc/security/limits.conf`

[code]

I've tried a couple variations of this but Solr warns of upping the open file limit and max processes too everytime you start solr.

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @cdm32 on Sep 7, 2018, 08:43

added ~936 label

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @cdm32 on Sep 7, 2018, 09:14

it's oom.

[code]

https://wiki.apache.org/solr/SolrPerformanceProblems

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @bzk60 on Sep 7, 2018, 10:13

https://lucene.apache.org/solr/guide/7_4/jvm-settings.html#jvm-settings

https://lucene.apache.org/solr/guide/6_6/taking-solr-to-production.html#TakingSolrtoProduction-MemoryandGCSettings

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @bzk60 on Sep 7, 2018, 10:16

We need to experiment with increasing the heap size.

From Solr docs:

This needs to be set in the include file `/etc/default/solr.in.sh`

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @bzk60 on Sep 7, 2018, 11:00

assigned to @bzk60

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @bzk60 on Sep 7, 2018, 11:16

Bumping `-Xmx` to 2g seems to get the app loaded and somewhat working. We will need to experiment more.

@rkt6 So we have the full records file indexed in blackcat01qa as of now there are 7085357 records.

@elt106 and @tbd3 blackcat01qa has 2 cores and 4gb memory, right? It looks like we need more for our index. Can we do sth like 16gb with 8 cores?

Full

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @bzk60 on Sep 7, 2018, 12:59

@tbd3 reconfigured the server to 16gb with 8 cores.

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @bzk60 on Sep 7, 2018, 12:59

closed

[2018-09-21 21:55] banukutlu commented on #98
In GitLab by @bzk60 on Sep 7, 2018, 12:59

removed ~938 label

[2018-09-21 21:55] #98 closed

[2018-09-21 21:55] banukutlu opened #99 "Logrotate for Traject and BL logs"
In GitLab by @bzk60 on Sep 11, 2018, 11:46

https://stackoverflow.com/questions/4883891/ruby-on-rails-production-log-rotation

[2018-09-21 21:55] banukutlu commented on #99
In GitLab by @bzk60 on Sep 12, 2018, 16:37

assigned to @bzk60

[2018-09-21 21:55] banukutlu commented on #99
In GitLab by @bzk60 on Sep 13, 2018, 09:49

added ~938 label

[2018-09-21 21:55] banukutlu commented on #99
In GitLab by @bzk60 on Sep 14, 2018, 14:22

changed the description

[2018-09-21 21:55] banukutlu commented on #99
In GitLab by @cdm32 on Sep 14, 2018, 14:40

[code]

Now I'll make a task out of this in the deploy script

[2018-09-21 21:55] banukutlu commented on #99
In GitLab by @bzk60 on Sep 14, 2018, 14:41

closed

[2018-09-21 21:55] banukutlu commented on #99
In GitLab by @bzk60 on Sep 14, 2018, 14:41

removed ~938 label

[2018-09-21 21:55] #99 closed

[2018-09-21 21:55] banukutlu opened #100 "Review solr conf files"
In GitLab by @bzk60 on Sep 13, 2018, 12:37

[2018-09-21 21:55] banukutlu commented on #100
In GitLab by @bzk60 on Sep 13, 2018, 12:53

changed title from **Review {-and prune -}solr conf files** to **Review solr conf files**

[2018-09-21 21:55] banukutlu opened #101 "Solr deprecation warnings"
In GitLab by @cdm32 on Sep 14, 2018, 07:38

Just noticed these this morning, don't believe they've cropped up before

![2018-09-14_0737](https://user-images.githubusercontent.com/6477867/46040357-0a20e200-c0de-11e8-9092-7bae3a8ce91d.png)

[code]

[2018-09-21 21:55] banukutlu commented on #101
In GitLab by @cdm32 on Sep 14, 2018, 08:26

changed the description

[2018-09-21 21:55] banukutlu opened #102 "Disable Solr suggester"
In GitLab by @bzk60 on Sep 14, 2018, 12:07

Because of a Solr suggester handler bug mentioned here #97, we will disable it for now.
If we get any feedback to the reported issue and if there would a workaround for it from the BL community, we can revisit this.

[2018-09-21 21:55] banukutlu opened #103 "Webhooks for Teams in GitHub"
In GitLab by @rkt6 on Sep 18, 2018, 10:27

[2018-09-21 21:55] banukutlu opened #104 "Creators and contributors updates"
In GitLab by @bzk60 on Sep 20, 2018, 09:46

Updates to the index have changed the names and breakdowns of fields for people in authorial/creator/contributor roles. The ticket's name reflects the fact that we may need to rename to reflect more generic roles. They're traditionally called authors, however the 7xx fields may also include things like editors. So we should consider how we name it once w

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @bzk60 on Sep 20, 2018, 09:48

created branch [`104-creators-and-contributors-updates`](https://git.psu.edu/i-tech/psulib_blacklight/compare/master...104-creators-and-contributors-updates)

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @bzk60 on Sep 20, 2018, 10:11

added ~938 label

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @bzk60 on Sep 20, 2018, 10:23

changed the description

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @bzk60 on Sep 20, 2018, 10:33

@rkt6 Which author display fields should be in `search results display` and/or `single result view`? Starting to build up the documentation in #86 will be helpful at this point to be able to see the bigger picture for our index and also devs can refer to.

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @bzk60 on Sep 20, 2018, 11:03

mentioned in merge request psulib_traject!2

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @rkt6 on Sep 20, 2018, 14:15

@bzk60 thoughts:

# Search results view

Let's remove authors entirely _for now_. We'll be indexing the title for display including the title author field.

# Single results view

Instead of:

https://git.psu.edu/i-tech/psulib_blacklight/blob/master/app/controllers/catalog_controller.rb#L114

Fields:

| Label | field |
| --- | --- |
| Author | author_pers

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @bzk60 on Sep 21, 2018, 13:01

assigned to @cdm32 and unassigned @bzk60

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @bzk60 on Sep 21, 2018, 13:15

removed ~938 label

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 14:41

Why do we call this "creators and contributors" when the actual changes are called "authors"?

[2018-09-21 21:55] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 14:52

To me, #86 is more about bigger picture in terms of content types and workflows. E.g, we have books we get from X and they go through this process and end up with this metadata and we'd like to do treat them X way in Traject/Blacklight.

So, to me, this issue of fields to display (or just index) and in which context is perhaps a separate issue.

[2018-09-21 21:56] banukutlu opened #105 "Document BlackCat Fields"
In GitLab by @bzk60 on Sep 21, 2018, 16:07

https://psu.app.box.com/notes/320774203905

[2018-09-21 21:56] banukutlu commented on #105
In GitLab by @bzk60 on Sep 21, 2018, 17:40

@rkt6 I tried to have a first round of the doc - kinda like what we have currently in BL. feel free to change with what we should be have. would be good to meet to go over them. thanks!

[2018-09-24 15:41] ruthtillman commented on #105
This looks good. I'll try to find a good time for a meeting to go over these.

[2018-09-24 20:17] ruthtillman commented on #21
We can make a new ticket for it, but documenting the logic we'll need to make the Online / In Library Facet work:

Library, 949m, is either ONLINE or another location. If it's online, we add Online. If it's anything else, we add At the Library. We should then make unique so we don't have like 10 At the Library entries for one work (or multiple Online ones).

Questions to follow up --  what about t

[2018-09-25 20:52] banukutlu commented on #29
In GitLab by @elt106 4 months ago

@bzk60 Can you let us know why the Solr version is specified in this file? Did you run into a problem with newer versions of Solr?

[2018-09-25 20:52] banukutlu commented on #29
In GitLab by @bzk60 4 months ago

@elt106 to lock it to that specific version so that it does not install latest if we need to reinstall for some reason. we can change which version we want to persist it.

check here: https://github.com/cbeer/solr_wrapper/blob/master/lib/solr_wrapper.rb#L13

also from https://github.com/cbeer/solr_wrapper: `version: Solr version to download and install`

[2018-09-25 20:53] banukutlu commented on #29
In GitLab by @mxk128 4 months ago

@bzk60 The reason this came up is because when I indexed the full marc file, on May 14, it indexed in solr version 7.3.0 (put it in /tmp/solr-7.3.0...). This morning I ran "rake solr:clean" (which I thought would delete the solr indexes) and it installed a clean version of solr at /tmp/solr-7.3.1. Then when I reindexed a demo marc file, I noticed that solr still

[2018-09-25 20:54] banukutlu commented on #29
In GitLab by @bzk60 4 months ago

@mxk128 always clean with the config you indexed so `solr_wrapper -d .solr_wrapper.yml clean` is better to use. What is the issue/error you ran into when using this cmd? and this is also another reason we should have version in that config file. Once there is a new version out the version the records indexed won't match with the latest.

[2018-09-25 20:56] banukutlu commented on #33
In GitLab by @bzk60 on Apr 30, 2018 13:05

pushed b37a59bb to `rspec` branch

[2018-09-25 21:10] banukutlu commented on #64
In GitLab by @bzk60 on Jul 17, 2018 9:46

@cdm32 nope since now that you got the assets loaded using webpacker :)

[2018-09-25 21:11] banukutlu commented on #64
In GitLab by @cdm32 on Jul 17, 2018 9:50

this was the missing piece: https://github.com/twbs/bootstrap/issues/23381#issuecomment-322179061

everything else wasn't needed

i told justin coyne about it, hopefully he will update https://github.com/projectblacklight/blacklight/wiki/Using-Webpacker-to-compile-javascript-assets

i guess i could but that seems out of step

[2018-09-25 21:12] banukutlu commented on #64
In GitLab by @cdm32 on Jul 17, 2018 13:40

two things ain't working still:

[code]

uncommenting results in errors.

also we need to document dev instructions

also we need to know how to deploy to prod before we can call this done for real

[2018-09-25 21:14] banukutlu commented on #68
In GitLab by @cdm32 on Jul 19, 2018, 7:38

also http://samuelmullen.com/articles/embracing-change-rails51-adopts-yarn-webpack-and-the-js-ecosystem/

[2018-09-25 21:14] banukutlu commented on #68
In GitLab by @cdm32 on Jul 20, 2018, 8:39

I reviewed and added some things to the doc.

[2018-09-25 21:17] banukutlu commented on #72
In GitLab by @cdm32 on Jul 118, 2018, 7:59

Does https://github.com/psu-libraries/psu_dir do authentication? Authorization? I thought that was `devise`? Or are you saying `devise` for authentication and `psu_dir` for authorization?

Is this pre-release or initial release? Seems like the latter to me, but?

[2018-09-25 21:18] banukutlu commented on #72
In GitLab by @bzk60 on Jul 18, 2018, 9:10

@cdm32 I do not know exactly if psu_dir gem do authentication as well. I put it here to check and figure out what it does and if it would useful to us.

And yes, I was thinking devise for authentication and maybe psu_dir for authorization.

This might go to initial release. I just wanted to start thinking about it.

[2018-09-25 21:19] banukutlu commented on #72
In GitLab by @cdm32 on Jul 18, 2018, 11:10

Yeah, will be interesting to see what `psu_dir` can do. Wonder if they bother with using PSU auth via webaccess or other means.

[2018-09-25 21:20] banukutlu commented on #72
In GitLab by @bzk60 on Jul 18, 2018, 11:19

That's what I want to figure out as well. This is def. a topic to talk with DSRD.

[2018-09-25 21:20] banukutlu commented on #72
In GitLab by @bzk60 on Jul 18, 2018, 12:23

https://github.com/psu-libraries/cho/issues/379
https://github.com/psu-libraries/cho/pull/411

[2018-09-25 21:21] banukutlu commented on #72
In GitLab by @cdm32 on Jul 18, 2018, 14:14

ah, perfect! will be stealing this :)

[2018-09-25 21:29] banukutlu commented on #86
In GitLab by @bzk60 on Aug 22, 2018, 16:24

along with that I think it would be helpful for me (and maybe others like me) to know the types such as books, e-resources etc.

[2018-09-25 21:30] banukutlu commented on #86
In GitLab by @rkt6 on Aug 22, 2018, 16:25

Ahhh and that is a kind of thing I need to work out in Traject... what kinds of things are we going to have in the materials type.

[2018-09-25 21:31] banukutlu commented on #86
In GitLab by @cdm32 on Aug 22, 2018, 16:29

there's a lot of stuff in the catalog. books, ebooks, theses, database titles, lending devices, etc. It'd be interesting if there were sort of an enumerated list of sources/workflows for the various buckets of things and what those buckets are... Banu mentioned something about how some stuff is even screen scraped on a regular basis for example. I just t

[2018-09-25 21:31] banukutlu commented on #86
In GitLab by @rkt6 on Aug 22, 2018, 16:31

Yes, I'm thinking documenting characteristics of these as we encounter them in traject will be part of the process. For example, there are records, primarily for e-things, which have autogenerated bits, e.g. the table of contents is machine-generated via screenscrape because... I cannot even tbh.

So identifying buckets as we index and logging here makes

[2018-09-26 14:09] banukutlu commented on #104
In GitLab by @rkt6 on Sep 21, 2018, 15:00

Because one of the many ways we could have handled this was by describing as creators/contributors. At a higher level, that's still where we are and we may edit/change this based on feedback as we go forward.

[2018-09-26 14:10] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 15:02

What are the other many ways we could handle this? Is there some exchange or documentation on that?

[2018-09-26 14:10] banukutlu commented on #104
In GitLab by @rkt6 on Sep 21, 2018, 15:08

It's mostly about display field label choices.

[2018-09-26 14:11] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 15:36

So what are the decisions on field label choices that have been made? What are the choices/decisions that remain? Are the decisions that have been made somewhere in other issues or something?

I mean I see that you provided three examples of the machine names of fields (Temple, Stanford and Princeton). When I look at the committed code though it doesn't

[2018-09-26 14:11] banukutlu commented on #104
In GitLab by @rkt6 on Sep 21, 2018, 15:51

I've got field names above with labels based off our current system. It should be a small change to update, but I want to see more how it looks/functions. This is a trickier area than most.

[2018-09-26 14:12] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 15:57

Current system meaning what Sirsi puts in The CAT, right?

[2018-09-26 14:12] banukutlu commented on #104
In GitLab by @rkt6 on Sep 21, 2018, 15:58

yep. I reviewed a number of sites and found they do it several different ways. So I decided to make the call that in order to move forward I don't try to make a final call at this point.

[2018-09-26 14:13] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 16:04

Cool. So I recognize it would be more work for you, but it would have been kinda nice to see some record of that review or a discussion in a meeting, etc, so I know what we're talking about and what we're aiming for. And maybe this has happened, but I just haven't seen it/read it yet (if it has, let's link it up here). I assume here you're not talking st

[2018-09-26 14:13] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 16:06

Also, if this is just an experiment you'd like to see on the QA server, we can do that without merging for what it's worth. The deploy script lets us choose any branch. We can always send stuff to the little sandbox server too, though it would be on a much smaller version of the index. Just throwing that to the mix here

[2018-09-26 14:14] banukutlu commented on #104
In GitLab by @rkt6 on Sep 21, 2018, 16:07

Banu and Maryam and I had some discussion of this. I think it would be useful to sit down and have some discussion of how we want to do fields/display/labels and records layout. Particularly single page vs. search result.

At this point, the above is strictly about adding fields with labels following current catalog controller pattern.

[2018-09-26 14:14] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 16:09

A sit down meeting to go through this would be helpful for me I would say, thanks! And @bzk60 if you know of some other issues or notes I should be reading for a primer, I'm totally game. Thanks.

[2018-09-26 14:14] banukutlu commented on #104
In GitLab by @bzk60 on Sep 21, 2018, 16:32

a meeting about the fields is a good idea. I say, Ruth, Charlie, Maryam and I, we can go over the display fields to wrap that doc up.

[2018-09-26 14:15] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 14:52

To me, #86 is more about bigger picture in terms of content types and workflows. E.g, we have books we get from X and they go through this process and end up with this metadata and we'd like to do treat them X way in Traject/Blacklight.

So, to me, this issue of fields to display (or just index) and in which context is perhaps a separate issue.

[2018-09-26 14:15] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 14:58

I'm at a loss a bit about what this issue is about. Can someone change the description? Like, what is this issue addressing, specifically? Sounds like we are talking about what we display to our users? I see the additional comment that addresses Single results view, so maybe that's all this issue is for then? It's hard for me to know what I'm expected to

[2018-09-26 14:16] banukutlu commented on #104
In GitLab by @rkt6 on Sep 21, 2018, 15:02

I can update. Banu brought it in based on a *ticket in the traject repo* because that ticket affected some fundamental aspects of the Blacklight display. Therefore we:

- needed a ticket to ensure that these changes didn't get lost
- don't have quite the same context here as on an indexing project.

[2018-09-26 14:17] banukutlu commented on #104
In GitLab by @bzk60 on Sep 21, 2018, 15:44

we need a document we can refer to be able to review the merges and make required changes in solr schema, controllers etc. This might be documented in the issues but we need one document with the fields where all can see/edit/comment etc. @rkt6 starting with sth like this https://psu.app.box.com/notes/320774203905?

[2018-09-26 14:17] banukutlu commented on #104
In GitLab by @rkt6 on Sep 21, 2018, 15:51

Good idea! These will be ones related to search or to search and display?

[2018-09-26 14:18] banukutlu commented on #104
In GitLab by @bzk60 on Sep 21, 2018, 15:48

Would be good have what do we want to search by as well. So search and display, facet and sort as well.

[2018-09-26 14:18] banukutlu commented on #104
In GitLab by @bzk60 on Sep 21, 2018, 16:05

@cdm32 after reading the 86 again yes that is more for content and workflow, I agree display fields and I am also thinking facets and sort fields would be another issue.

[2018-09-26 14:19] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 16:07

I think #86 is kind of a "what the heck is in the cat anyway" kind of super basic question followed by what do we do with it in blackcat?

[2018-09-26 14:20] banukutlu commented on #104
In GitLab by @bzk60 on Sep 21, 2018, 16:08

added #105. This document is to know basically what users will be search by, facet by, sort by and then how the results be displayed to them.

[2018-09-26 14:20] banukutlu commented on #104
In GitLab by @cdm32 on Sep 21, 2018, 16:09

I mean, yeah, they are related I guess. I don't know lol

[2018-09-26 14:20] banukutlu commented on #104
In GitLab by @ bzk60 on Sep 21, 2018, 16:16

related but def. should be documented separately

[2018-09-26 15:40] banukutlu commented on #87
Attachments and wiki pages are moved as well.

[2018-09-26 16:03] banukutlu commented on #97
In GitLab by @bzk60 on Sep 7, 2018, 10:13

related #98?

[2018-09-26 16:04] banukutlu commented on #97
In GitLab by @cdm32 on Sep 10, 2018, 8:44

This is still not working, though #98 (closed) is resolved.

[2018-09-26 16:05] banukutlu commented on #97
In GitLab by @cdm32 on Sep 11, 2018, 15:12

https://lucene.apache.org/solr/guide/7_4/suggester.html

[2018-09-26 16:05] banukutlu commented on #97
In GitLab by @cdm32 on Sep 12, 2018, 10:03

reindexing with more memory still didn't fix this issue

[2018-09-26 16:07] banukutlu commented on #97
In GitLab by @cdm32 on Sep 13, 2018, 11:37

`solr.log` is not being written. Only the garbage collection logs are present.

[2018-09-26 16:07] banukutlu commented on #97
In GitLab by @cdm32 on Sep 13, 2018, 11:58

looks like it hasn't logged anything since upgrading to solr 7.4...

[2018-09-26 16:46] banukutlu commented on #97
In GitLab by @cdm32 on Sep 13, 2018, 12:34

OK! got logging working again.

had to change a setting: `LOG4J_PROPS=/var/solr/log4j2.xml`

see 7.4 change notes:  https://lucene.apache.org/solr/guide/7_4/solr-upgrade-notes.html#solr-7-4

here's the error for suggest

[code]

[2018-09-26 16:47] banukutlu commented on #97
In GitLab by @cdm32 on Sep 13, 2018, 16:11

http://lucene.472066.n3.nabble.com/solr-5-2-gt-7-2-suggester-failure-td4383551.html

so basically what appears to be happening is that there is a recursive loop that is going over 1,000 times to build the suggester component/handler. in old versions of solr, it would just chug along. in >7 it errors out.

[2018-09-26 16:49] banukutlu commented on #97
In GitLab by @cdm32 on Sep 13, 2018, 16:12

relevant commit: https://github.com/apache/lucene-solr/commit/7dde798473d1a8640edafb41f28ad25d17f25a2d

[2018-09-26 16:50] banukutlu commented on #97
In GitLab by @cdm32 on Sep 13, 2018, 16:30

looking at other groups:

*  Princeton University Libraries disables suggest
*  Temple University Libraries typeahead not working, though default suggest settings are present in their solr config (according to their public repo)
*  Stanford University Libraries doesn't have typeahead suggest either (haven't checked their code)

[2018-09-26 16:52] banukutlu commented on #97
In GitLab by @cdm32 on Sep 14, 2018, 7:33

I also spoke with Danny because I saw him in the hallway and found out that their team does not use the suggester because it is an apparent performance problem. All this is starting to sound like: "let's go ahead and get rid of the suggester altogether". I'll contact the community about it too.

[2018-09-26 16:57] banukutlu commented on #97
In GitLab by @cdm32 on Sep 14, 2018, 7:47

Reported at https://github.com/projectblacklight/blacklight/issues/1972. @bzk60 what do you think we should do in the meantime? I think I'd recommend we remove all the suggester related items for now. Perhaps it'll give us a performance boost/be more efficient to get ride of this dynamic field that isn't being used, thoughts?

[2018-09-26 16:58] banukutlu commented on #97
In GitLab by @bzk60 on Sep 14, 2018, 11:59

thanks @cdm32 for digging into this. yes, we should disable suggester. we can close this issue and I will add another one to remove it.

[2018-09-26 16:58] banukutlu commented on #97
In GitLab by @bzk60 on Sep 14, 2018, 12:07

@bzl60 mentioned in issue #102

[2018-09-26 16:59] banukutlu commented on #97
In GitLab by @cdm32 on Sep 21, 2018, 10:51

Doing a bit more poking on this as asked to in the GH issue I opened.

[2018-09-26 17:00] banukutlu commented on #97
In GitLab by @cdm32 on Sep 21, 2018, 11:20

@mxk128 can you send me the link to where the 500 traject-generated records are?

[2018-09-26 17:00] banukutlu commented on #97
In GitLab by @mxk128 on Sep 21, 2018, 11:25

https://psu.app.box.com/folder/53004724072

[2018-09-26 17:01] banukutlu commented on #97
In GitLab by @cdm32 on Sep 21, 2018, 11:52

so, thanks @mxk128. if you kill the import via traject at any stage and then commit, it'll get those docs. which is nice to know

[2018-09-26 17:01] banukutlu commented on #97
In GitLab by @cdm32 on Sep 21, 2018, 12:44

ok, not making progress here really. suggester just ain't working. i would love to keep digging, but i know we need to move on for now.

[2018-09-26 17:30] banukutlu commented on #87
To change remote's URL: `git remote set-url origin git@github.com:psu-libraries/psulib_blacklight.git`

[2018-09-28 16:23] ruthtillman opened #106 "Faceting Libraries - Explore OR vs. AND"
When faceting Libraries, the default behavior of the sidebar is "AND" vs. OR. So, for example, if you click Harrisburg and York, it will only show books which are in _both_ libraries. However, this is rarely a useful use case. People would generally only be looking for a book that's in either a single library or in several libraries (e.g. two close libraries, or the libraries on the UP campus).

W

[2018-09-28 20:00] cdmo opened #107 "All Fields default search"
What is included in the index that is searched for All Fields default search?
![screenshot_2018-09-28 blacklight](https://user-images.githubusercontent.com/523381/46230754-8a8e4f80-c337-11e8-9a0f-c1d8bcc3c05e.png)

https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields#search-by

[2018-10-01 18:46] cdmo commented on #36
makes sense to me!

[2018-10-01 19:17] cdmo commented on #104
some headway

![Screenshot_2018-10-01 Expert systems, tools and applications - Blacklight.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59a6d74562542000114643e0/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cc6417773e7955e30e6895e63aab0268181c1b1bf102444f00a3a6d568b6e762249a0d4bad8d340c2582644ef2fb9202af73e671d814d9efebd208d2f42f65a5d4d51a6d5a17129bfa0f64f5911fcb

[2018-10-01 19:29] banukutlu commented on #104
Yes I agree that facet does not seem right - I would say let's remove that facet.

[2018-10-01 19:31] cdmo commented on #104
Cool. One other note: I didn't merge author-y fields into title in the index

[2018-10-02 18:18] banukutlu opened #110 "Email/SMS Body fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields#emailsms-body

[2018-10-02 18:43] cdmo commented on #88
Can't be turned on because you need to be an admin of the org that owns the repo

[2018-10-02 19:01] cdmo commented on #88
Looking into CircleCI too

[2018-10-02 19:04] cdmo commented on #88
Some examples:

* https://github.com/sul-dlss/SearchWorks/blob/master/.travis.yml
* https://github.com/tulibraries/tul_cob/blob/master/.travis.yml
* https://github.com/psu-libraries/cho/blob/master/.travis.yml
* https://github.com/pulibrary/orangelight/blob/master/.circleci/config.yml

[2018-10-02 19:25] banukutlu opened #111 "Document Formats in Catalog"
https://psu.app.box.com/notes/322701769840

[2018-10-02 19:31] #104 closed

[2018-10-03 02:39] cdmo commented on #88
experimenting in a fork for now:

https://travis-ci.com/cdmo/psulib_blacklight/jobs/149352123

[2018-10-03 15:56] cdmo commented on #88
I know we have an issue for Coveralls, but we should consider https://codeclimate.com/ too

[2018-10-03 16:14] cdmo commented on #88
Building successfully now as a starting point with Travis: https://travis-ci.com/psu-libraries/psulib_blacklight

[2018-10-03 16:50] cdmo commented on #88
So I added `rubocop` and... it's not happy https://travis-ci.com/psu-libraries/psulib_blacklight/jobs/149508353

[2018-10-03 17:01] cdmo commented on #88
Interesting! https://github.com/psu-libraries/niftany

[2018-10-03 17:48] cdmo commented on #88
trying out niftany, it seems like a great way to bootstrap our ci with some good default lint settings for ruby, erb and scss

[2018-10-03 17:48] cdmo commented on #88
at this point i think i'm going to put in a pr for @banukutlu and we'll go over IRL

[2018-10-03 19:25] cdmo opened #113 "Pass scss lint"
clear out the current violations

[2018-10-03 19:25] cdmo opened #114 "Pass erb lint"
clear out violations

[2018-10-03 19:25] cdmo opened #115 "Pass rubocop"
clear out violations

[2018-10-03 20:02] cdmo commented on #89
Some institutions do not use a code coverage service at all. Princeton, for example, does and they use Coveralls. CHO, developed by our own colleagues, are using Code Climate. Codecov is another and there are many others.

https://www.slant.co/topics/2188/versus/~codecov_vs_coveralls_vs_code-climate

Codacy is another, https://www.codacy.com/

I don't think this is as much a necessity as running r

[2018-10-04 18:50] cdmo commented on #114
I found a problem with erb-lint's handling of self closing tags. I talked about it with Adam. it might be a good idea to write a fix. See #89, especially the commits.

[2018-10-04 19:16] #87 closed

[2018-10-04 19:58] cdmo commented on #113
it doesn't like blacklight-marc's scss, fixing those now. for example:

`app/javascript/psulib_blacklight/styles/blacklight_marc.scss:11:3 [W] PlaceholderInExtend: Prefer using placeholder selectors (e.g. %some-placeholder) with @extend`

[2018-10-04 20:37] etreece commented on #103
I haven't been looking in Teams either, but I'll wait for a consensus before closing this issue.

[2018-10-04 21:17] banukutlu commented on #103
I do not look in Teams either but rather use email notifications for git updates. So I am fine with not setting this up.

@ruthtillman your opinion?

[2018-10-04 21:45] mkutch commented on #103
Same as Banu

Maryam

On Oct 4, 2018, at 2:18 PM, Banu Hapeloglu Kutlu <notifications@github.com<mailto:notifications@github.com>> wrote:

I do not look in Teams either but rather use email notifications for git updates. So I am fine with not setting this up.

@ruthtillman<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fruthtillman&data=02%7C01%7Cmxk128%40psu.edu%7C86

[2018-10-04 22:08] tdouty commented on #103
Sounds good to me.
________________________________
From: mkutch <notifications@github.com>
Sent: Thursday, October 4, 2018 5:45:07 PM
To: psu-libraries/psulib_blacklight
Cc: Douty, Todd; Mention
Subject: Re: [psu-libraries/psulib_blacklight] Webhooks for Teams in GitHub (#103)

Same as Banu

Maryam

On Oct 4, 2018, at 2:18 PM, Banu Hapeloglu Kutlu <notifications@github.com<mailto:notifications@gi

[2018-10-05 15:32] cdmo commented on #89
well, we're passing linters now, but coveralls still doesn't run. I'm guessing it'll only run on PRs.

[2018-10-05 17:32] banukutlu commented on #103
So let's not set this up then. Closing this.

[2018-10-05 17:32] #103 closed

[2018-10-05 18:08] banukutlu opened #118 "Check if we can automatically track when work is deployed"
Determine if we will use Deployed column? If we can automatically move issues to deployed probably yes.

https://help.waffle.io/tracking-deployed-work/automatically-track-when-work-is-deployed

[2018-10-05 18:10] banukutlu commented on #118
Determine if we will use Deployed column? If we can automatically move issues to deployed probably yes.

https://help.waffle.io/tracking-deployed-work/automatically-track-when-work-is-deployed

[2018-10-05 18:32] banukutlu opened #119 "Document BlackCat Components"
Components Necessary in Blacklight Catalog: https://psu.app.box.com/file/265910480297

[2018-10-05 18:33] banukutlu commented on #119
https://psu.app.box.com/file/265910480297

[2018-10-05 20:20] #114 closed

[2018-10-05 20:21] #113 closed

[2018-10-05 20:45] #88 closed

[2018-10-05 21:02] banukutlu opened #120 "Return a 404 in response to a RecordNotFound error"
Rescue Blacklight::Exceptions::RecordNotFound and redirect to correct 404 page

![screen shot 2018-10-05 at 4 59 19 pm](https://user-images.githubusercontent.com/6477867/46559997-1e27c900-c8c0-11e8-83ab-45138d88f764.png)

requires #161

[2018-10-05 21:15] #10 closed

[2018-10-08 18:03] cdmo commented on #90
We should look at what Blacklight's tests and look around at other institution's as well to bootstrap our own. We'll make our tests in human friendly language and then make some automated tests from these.

[2018-10-08 18:18] banukutlu commented on #6
What do we expect to have done for initial release?

[2018-10-08 18:21] banukutlu commented on #71
Are bookmarks gonna be a feature?

[2018-10-08 19:54] cdmo opened #122 "Production application deployment"

[2018-10-08 20:06] cdmo opened #123 "Document linting stuff"

[2018-10-08 20:06] cdmo opened #124 "Pre-commit hook to run linter"

[2018-10-09 14:23] #115 closed, assigned to cdmo

[2018-10-09 21:15] #94 closed

[2018-10-11 16:40] ruthtillman commented on #12
Using the item date/year is a tricky proposition per some of our conversations about dates.

Example of how Cornell and Stanford support multiple year uncertainty: https://newcatalog.library.cornell.edu//?f%5Bformat%5D%5B%5D=Book&q=women%20strike%20for%20peace&search_field=all_fields && https://searchworks.stanford.edu/catalog?utf8=%E2%9C%93&search_field=search&q=women+strike+for+peace

Princeton

[2018-10-11 16:41] ruthtillman commented on #5
Surveying physical reserves...

* Cornell uses something which integrates Blackboard links and other in a searchable interface.
* Duke's physical seems to be split out more and probably won't work for us e.g. https://library.duke.edu/music/reserves
* Brown seems to expect them to be in your syllabus and essentially gives a "use the catalog" message.

[2018-10-11 16:55] banukutlu commented on #90
@ruthtillman @cdmo Let's schedule a meeting to start thinking about these tests.

[2018-10-11 16:59] banukutlu commented on #57
Would this be part of initial release?

[2018-10-11 17:09] banukutlu opened #126 "Repeated Title in search results and single record view due to Vernacular"
https://blackcat01qa.libraries.psu.edu/catalog/23807625

Connected to psu-libraries/psulib_traject#14

[2018-10-15 17:02] banukutlu commented on #101
http://lucene.apache.org/solr/7_4_0/solr-core/deprecated-list.html

[2018-10-15 17:45] cdmo opened #127 "SelfClosingTagCustom"
adding a custom erb-lint linter to account for the problem of over-checking self-closing tags.

[2018-10-15 21:05] banukutlu commented on #43
Duplicate #101

[2018-10-15 21:05] #43 closed

[2018-10-15 21:39] banukutlu commented on #10
Duplicate of #12

[2018-10-16 12:08] cdmo commented on #89
I just ran another test of this setup on branch 88 (see https://travis-ci.com/psu-libraries/psulib_blacklight/builds/88093537), and I think this point we should split this issue into two. This one can be about the investigation and can be closed. A second issue can be opened for setting up Coveralls. I would say we need to handle #96 and getting tests locally consistently working first. I'm propos

[2018-10-16 12:09] cdmo commented on #89
I just ran another test of this setup on branch 88 (see https://travis-ci.com/psu-libraries/psulib_blacklight/builds/88093537), and I think this point we should split this issue into two. This one can be about the investigation and can be closed. A second issue can be opened for setting up Coveralls. I would say we need to handle #96 and #69, getting tests locally consistently working first. I'm p

[2018-10-16 13:17] banukutlu commented on #89
@cdmo yes I agree let's close this one and another issue for Coveralls.

[2018-10-16 13:19] #89 closed

[2018-10-16 13:20] banukutlu opened #131 "Setup Coveralls"
Requires #89

[2018-10-16 15:13] cdmo commented on #96
When removing `Blacklight::DefaultComponentConfiguration` this crashes the app

[code]

[2018-10-16 15:17] #102 closed

[2018-10-16 15:43] banukutlu opened #132 "Remove autocomplete related js"
Requires #102

[2018-10-16 15:47] #96 closed

[2018-10-16 16:56] banukutlu commented on #101
Re Deprecated Trie* field from https://github.com/apache/lucene-solr/blob/d7fd82c0f8517251d67b0af021d259dffaa4dce6/solr/CHANGES.txt#L760

  Point field types are better at range queries (speed, memory, disk), however simple field:value queries underperform
  relative to Trie. Either accept this, or continue to use Trie fields.
  This shortcoming may be addressed in a future release.

[2018-10-16 16:57] cdmo commented on #67
I don't think this issue requires a milestone, can we remove mvp0?

[2018-10-17 13:37] #132 closed

[2018-10-17 14:55] cdmo opened #136 "yarn integrity"
from deployment script:

[code]

related to https://git.psu.edu/i-tech/psulib_blacklight_deploy/issues/17

[2018-10-17 15:07] cdmo commented on #136
this is due to the fact that rails runs an integrity check on production when it does a yarn install as part of deployment, I believe

[2018-10-17 15:22] banukutlu opened #138 "blacklight-marc depends on traject ~> 2.1"
[code]

[2018-10-17 15:47] cdmo commented on #136
ok, so when i run `yarn install --integrity` and then `rails s` locally, all is kosher.

when I run `rails webpacker:yarn_install` and then `rails s` locally, I get the following error:

[code]

Looking at the rails task for yarn_install it does this:

`yarn install --no-progress --production`

So, it runs that production flag. This means

https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-ins

[2018-10-17 15:56] cdmo commented on #136
I think what's going on here is that the two settings (one in `webpacker.yml` and one in `development.rb` or `production.rb`) control two different things:

1. At the `rb` level, rails is being told to check integrity of the install yarn packages or not.
2. At the yml config `yarn` is being told whether or not to generate the integrity digests or not.

The two are mutually exclusive. This issue ad

[2018-10-17 17:30] cdmo commented on #136
See https://github.com/yarnpkg/yarn/pull/5042

[2018-10-17 19:29] banukutlu opened #139 "Configure solr stopwords, synonyms and protwords"

[2018-10-17 20:09] banukutlu commented on #136
Also as a side note see https://github.com/rails/webpacker/commit/c2d032ccb41a811d6922e672fe219092b8ea1e6a - we will need to move integrity check config to webpacker.yml from environment configs when we move on to webpacker v4

[2018-10-17 20:09] banukutlu opened #141 "Move integrity check config to webpacker.yml from environment configs with webpacker v4"
_Originally posted by @banukutlu in https://github.com/psu-libraries/psulib_blacklight/issues/136#issuecomment-430770429_

Also with v4 we will be able to remove the `yarn:install` override 45a8b78

[2018-10-17 20:56] #136 closed

[2018-10-18 11:57] cdmo commented on #138
🤔  Can't multiple versions of a gem exist in a project?

[2018-10-18 12:05] cdmo commented on #141
keep in mind, the task I wrote overwrites the *rails* yarn install, not the webpack yarn_install task. Rails > 5.1 has a built in yarn install via railties. <5.1 uses webpack:yarn_install -- so really we need to wait until rails updates (maybe that will be in lock step with v4 of webpacker?)

[2018-10-18 13:43] banukutlu commented on #141
oh yes right we can remove when rails updates 👍

[2018-10-18 17:16] banukutlu opened #142 "Upgrade to Ruby 2.5.3"
https://www.ruby-lang.org/en/news/2018/10/18/ruby-2-5-3-released/

[2018-10-18 18:43] banukutlu commented on #138
seem

seems to be not 🤔  https://stackoverflow.com/questions/4333645/use-2-versions-of-gem-at-same-time

[2018-10-22 12:22] cdmo commented on #69
I started using this: https://collectiveidea.com/blog/archives/2017/02/09/guard-is-your-friend

watched files for changes and runs test automatically

[2018-10-22 15:21] cdmo opened #143 "Blacklight-marc BL7 investigation"

[2018-10-22 15:22] cdmo commented on #143
see https://github.com/projectblacklight/blacklight-marc/pull/57

[2018-10-22 16:00] banukutlu opened #144 "Solr 8 Upgrade"

[2018-10-22 16:47] cdmo commented on #69
In addition to blacklight-marc having some issues during testing, BL at master does too, a bit anyway. Here are the results of running a test on master:

[code]

This is more of an FYI than anything else

[2018-10-22 17:10] cdmo commented on #69
related https://github.com/psu-libraries/blacklight-marc/pull/2

[2018-10-22 17:34] cdmo commented on #69
So here's what I think we'll be a good start to our rspec setup

1. `rspec-rails` - [use this to generate](https://relishapp.com/rspec/rspec-rails/docs/generators) as needed
1. `rspec-guard` - see comment above, would be good to add this to the `Procfile.dev` perhaps to run both `rspec` and `niftany`
1. `capybara` - for integration testing
1. I don't think we need pre-commit hooks if we have `guar

[2018-10-22 19:55] banukutlu opened #146 "Setup rspec-guard"
Also integrate guard with our Procfile.dev to run both rspec and niftany.

[2018-10-22 19:59] banukutlu opened #147 "Setup capybara"
`capybara` for acceptance testing

Related #69

[2018-10-22 20:02] banukutlu commented on #69
Agreed and added #146 and #147.
One though on 5 - It might take some time to reach to that writing tests before implementation but definitely should be our goal.

[2018-10-23 12:30] cdmo commented on #69
We still have to figure out the scaffolding needed for solr testing. Lots of other repos and gems do this, so we should be able to borrow and steal.

[2018-10-23 12:34] cdmo commented on #138
🤔 The other odd thing about the error message is that blackight-marc doesn't have a 7.0.0.alpha release/tag or branch. So... ?

[2018-10-23 13:01] banukutlu commented on #138
@cdmo it is here: https://github.com/psu-libraries/blacklight-marc/blob/master/lib/blacklight/marc/version.rb

I was not able to test if this issue has been solved yet. I will be able to test when merged.

[2018-10-24 14:54] cdmo commented on #69
Looks useful: https://github.com/sul-dlss/rspec-solr

[2018-10-24 14:56] cdmo commented on #69
Also instructive: https://github.com/sul-dlss/sw_index_tests

[2018-10-24 14:58] cdmo commented on #69
Moar good: https://github.com/tulibraries/tul_cob/blob/master/lib/tasks/server.rake

[2018-10-24 15:23] banukutlu opened #149 "remove erb-lint from gemfile when niftany handles versions >=0.0.27"
Requires https://github.com/psu-libraries/niftany/issues/6

[2018-10-24 15:33] cdmo commented on #69
This is interesting too:

https://github.com/pulibrary/orangelight/tree/master/lib/tasks

https://github.com/pulibrary/orangelight/pull/810/files

[2018-10-24 15:39] #127 closed

[2018-10-24 15:55] cdmo commented on #69
I think we can use the Temple COB and the Princeton Orangelight approach to testing solr-related items, they seem like they are about the same. Basically running `run_solr` a locally defined method that warps SolrWrapper (inception!). I tried running `solr:start` directly, but it wants to use the latest version of solr for some reason.  It defines the core correctly and all other config, but not v

[2018-10-24 17:00] cdmo opened #150 "establish rake solr scaffolding for testing"
driven by https://github.com/psu-libraries/psulib_blacklight/issues/69#issuecomment-432717275

[2018-10-24 17:01] cdmo commented on #67
Maybe we should close this because we know how to do this now? And we did it already?

[2018-10-24 17:01] #67 closed

[2018-10-24 17:45] #143 closed

[2018-10-24 17:49] cdmo commented on #69
Talked with @banukutlu in zoom, we're good with this as a general strategy and details on other accessories and methods to be addressed as we go

[2018-10-24 17:49] #69 closed

[2018-10-24 17:51] cdmo commented on #131
this is pretty much setup, but no rspec is being called. once #150 is in place we'll see where we're at

[2018-10-24 17:53] cdmo commented on #48
@ruthtillman are favorites the same thing as bookmarks?

also, aren't alerts something very different? shouldn't that be a separate issue?

@banukutlu and I also think this can be moved to mvp 2

[2018-10-24 18:19] #138 closed

[2018-10-24 18:36] banukutlu commented on #149
this is fixed in niftany version 0.3

[2018-10-24 19:24] banukutlu opened #152 "Cache solr download directory on travis"
[code]
since this should not change often anyway

https://docs.travis-ci.com/user/caching/

[2018-10-25 14:47] ruthtillman commented on #7
Example of a bound-with volume, we need to be sure this displays ok: 1006921

[2018-10-25 16:57] cdmo commented on #7
I emailed a colleague at NCSU just now, will keep you all posted

[2018-10-26 14:34] #100 closed

[2018-10-26 17:47] cdmo opened #155 "investigate honeybadger"
https://www.honeybadger.io/

some kind of system monitoring

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-57

[2018-10-26 19:29] banukutlu commented on #142
after upgrading to 2.5.3 on local, hitting the below style warnings since `parser` gem (rubocop dependency) is not supporting 2.5.3 yet

[code]

there is an open issue about this: ```https://github.com/whitequark/parser/issues/530```

[2018-10-26 19:31] banukutlu commented on #101
moving to MVP1 to be revisited after the BL 7.0 release.

[2018-10-26 19:33] #149 closed

[2018-10-26 19:43] cdmo opened #157 "make a solr doc fixture"
to update `spec/fixtures/current_fixtures.json`, which we stole from orangelight

[2018-10-29 12:04] cdmo commented on #142
So we'll keep an eye on that issue until moving to 2.5.3 then, right?

[2018-10-29 13:08] banukutlu commented on #142
speaking of which https://github.com/whitequark/parser/releases/tag/v2.5.3.0 👍

[2018-10-29 13:38] #142 closed

[2018-10-29 13:45] cdmo commented on #150
see #150

[2018-10-29 13:45] cdmo commented on #131
looks like it's running correctly. closing.

[2018-10-29 13:45] #131 closed

[2018-10-29 13:46] cdmo commented on #152
oh heh, yes i did this. it's in #150

[2018-10-29 13:46] #152 closed

[2018-10-29 14:09] cdmo commented on #146
on hold for now, `guard-rspec` doesn't work with rails 2.5 yet, see https://github.com/guard/guard-rspec/pull/403

[2018-10-29 15:13] banukutlu opened #160 "Peg blacklight and blacklight-marc to a release"
Peg blacklight and blacklight-marc to a release when Bl7.0 is released.
They are both specifying master right now..

[2018-10-29 17:46] cdmo commented on #124
add a file at `.git/hooks/pre-commit` with the following:

[code]

This file won't be tracked. I started with this bit from this [gist](https://gist.github.com/mpeteuil/6147292) to do this. [`$CHILD_STATUS`](http://ruby-doc.org/stdlib-2.0.0/libdoc/English/rdoc/English.html) is an alias enabled by the `english` gem, which basically gives access to the last `system` method call's exit status. More o

[2018-10-29 17:46] #124 closed

[2018-10-29 18:37] cdmo commented on #68
idk, i think the docs are pretty good. I'm going to close, but feel free to re-open if any part needs help

[2018-10-29 18:37] #68 closed

[2018-10-29 20:05] banukutlu commented on #120
```https://github.com/pulibrary/orangelight/pull/1057```

[2018-10-29 21:30] banukutlu opened #161 "Dynamic error messages"
Explicitly handle 404s, 422s and 500s in the errors_controller to create dynamic error pages

[2018-10-30 13:51] cdmo commented on #120
are you just going to merge that commit in from orangelight?

[2018-10-30 13:55] cdmo commented on #90
Just to help guide us: [Introduction to Writing Acceptance Tests with Cucumber](https://semaphoreci.com/community/tutorials/introduction-to-writing-acceptance-tests-with-cucumber)

[code]

[2018-10-30 14:03] banukutlu commented on #91
bookmarks are replacement for favorites in Sirsi

[2018-10-30 14:05] banukutlu commented on #91
on hold until BL7.0 is release - could be fixed with the release

[2018-10-30 14:07] banukutlu commented on #16
will be handled with #15

[2018-10-30 14:07] #16 closed

[2018-10-30 14:17] banukutlu commented on #1
@ruthtillman can you review and update the requirements

[2018-10-30 14:30] banukutlu commented on #6
yes part of the initial release

[2018-10-30 14:38] banukutlu commented on #53
@ruthtillman can you specify the requirements for this one

[2018-10-30 14:39] banukutlu commented on #57
more of indexing and displaying

[2018-10-30 14:39] banukutlu commented on #57
look at Stanford's donor work

[2018-10-30 14:49] banukutlu commented on #59
this is for when integrating WebServices

[2018-10-30 14:58] #150 closed

[2018-10-30 16:31] banukutlu commented on #120
did the same rescue from exception and redirect to 404. also https://github.com/psu-libraries/psulib_blacklight/commit/ecbb275c9f6f2f07cc72dd4b7bfcef2ade517dfa to explicity handle 404s and 500s

[2018-10-30 18:02] cdmo opened #162 "Email bookmark => Network Error"
When I click on an item to bookmark it, then I click to my bookmarks, then I click on "Email" and then I fill out the form to email and after I submit it, I get this error.

![screenshot 2018-10-30 13 58 53](https://user-images.githubusercontent.com/523381/47739726-6a122780-dc4c-11e8-8996-54e5f66c5471.png)

[2018-10-30 18:07] ruthtillman commented on #5
From our 10/30 meeting. Breaking out structure, problem, and questions in course reserves.

We have two kinds of _thing_ which go on course reserve. The first is existing records, when we already have something, with a full bib record (or purchase the item but get the full bib record), and then put one or more copies on reserve. The second are brief title records, which include title/author/maybe

[2018-10-30 18:07] cdmo commented on #120
Cool, thanks.

[2018-10-30 18:19] ruthtillman commented on #1
Possible display: do we want to do some kind of nesting for grouped libraries? specifically UP libraries at the top, then a subset? Ways that this could look include the LC Call numbers.

[2018-10-30 20:21] cdmo commented on #90
Couple ideas, things I wrote down during our checkin today:
[code]
[code]

These should be refined, but just thought I'd give it a whirl

[2018-10-31 13:31] cdmo commented on #71
The answer to https://github.com/psu-libraries/psulib_blacklight/issues/71#issuecomment-427932562 is yes (via @ruthtillman at a meeting yesterday) - adding here for posterity

[2018-10-31 13:55] cdmo commented on #71
If you [read the docs](https://github.com/projectblacklight/blacklight/wiki/Bookmarks), it says you need a user implementation for bookmarks to work, fwiw

[2018-10-31 14:18] ruthtillman commented on #71
@cdmo so basically without user accounts it doesn't have a necessary component to clear? That makes sense.

[2018-10-31 14:19] cdmo commented on #71
But it should allow a guest to bookmark. I think this is actually a bug with Blacklight and Rails 5.2... more to come

[2018-10-31 14:22] cdmo commented on #71
Yeah, this is a bug with rails 5.2 and blacklight

See https://github.com/nsarno/knock/issues/208#issuecomment-373022274

I'll report back to the community

When I create a new bookmark controller and add `skip_before_action :verify_authenticity_token`, the error goes away

[2018-10-31 15:18] cdmo commented on #71
There's more information  available when you view the response to the XHR request in chrome:

[code]

[2018-10-31 16:05] cdmo commented on #71
Found in griddler too, https://github.com/thoughtbot/griddler/issues/297. Seems like at least some in the community are just turning this off.

[2018-10-31 20:03] #62 closed

[2018-10-31 20:04] ruthtillman commented on #22
Wiki information about browse display: https://github.com/psu-libraries/psulib_blacklight/wiki/Browse-Items-by-Library-of-Congress-Call-Number

and nearby on shelf: https://github.com/psu-libraries/psulib_blacklight/wiki/Nearby-on-Shelf

[2018-10-31 20:04] ruthtillman commented on #62
(this was basically a duplicate of issue #22  )

[2018-10-31 20:06] ruthtillman commented on #7
More on overall

[2018-10-31 20:06] ruthtillman commented on #8
Example of a bound-with volume, we need to be sure this displays ok: 1006921

[2018-10-31 20:07] ruthtillman commented on #8
More on overall aspects of availability display: https://github.com/psu-libraries/psulib_blacklight/wiki/Availability-Display

[2018-10-31 20:17] mkutch commented on #57
Making a note here of examples of records with more than one Bookplate for a record at Stanford library. Looks like they have the fund info at the bib level (979 field).

- https://searchworks.stanford.edu/view/3087242

- https://searchworks.stanford.edu/view/6727193

[2018-10-31 20:19] mkutch commented on #57
Currently, we display them in the CAT by searching for the fund that was used to purchase the item (for all items in the cat record). In other words, for every item in the holdings, we look up the fund used to purchase it and if it is an endowed fund, we display the link to the digital bookplate.

[2018-11-01 11:54] cdmo commented on #57
@mkutch 979b is the magic that makes a [page like this](https://searchworks.stanford.edu/catalog?f%5Bfund_facet%5D%5B%5D=mn446rd9503&sort=new-to-libs&view=gallery) work.

The decoded route for Blacklight is

`/catalog?f[fund_facet][]=mn446rd9503&sort=new-to-libs&view=gallery`

So:

Fund facet = mn446rd9503 (979b "druid:")
Sort = "new to libs" (what the library has acquired most recently displayed

[2018-11-01 16:10] #39 closed

[2018-11-01 16:55] banukutlu commented on #101
BL 7.0 will fix Trie* field warnings 🎉 `https://github.com/projectblacklight/blacklight/pull/2014`

[2018-11-01 17:19] cdmo commented on #101
Open Source 💫

[2018-11-01 17:53] #120 closed

[2018-11-01 17:53] #161 closed

[2018-11-01 18:13] cdmo opened #165 "docker solr"

[2018-11-01 19:37] ruthtillman commented on #5
Some more info on function: https://github.com/psu-libraries/psulib_blacklight/wiki/Course-Reserves

[2018-11-02 11:49] #157 closed

[2018-11-02 13:28] cdmo opened #168 "docker for local dev"
replace solr_wrapper for local dev

investigate docker as an entire local dev solution

[2018-11-05 13:18] cdmo commented on #165
closed in #167

[2018-11-05 13:18] #165 closed

[2018-11-05 19:12] banukutlu opened #172 "Check Quepid"
http://quepid.com/

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-56

[2018-11-05 20:05] cdmo commented on #168
I think a general strategy for local development can be cribbed from [tul_cob](https://github.com/tulibraries/tul_cob). Startup costs would theoretically disappear, as in, no local dependencies to install or manage.

Docker Compose(see [Temple's config](https://github.com/tulibraries/tul_cob/blob/master/docker-compose.yml)) is at the center of things, which basically orchestrates multiple containe

[2018-11-05 20:05] #168 closed

[2018-11-06 18:42] banukutlu commented on #119
https://github.com/psu-libraries/psulib_blacklight/wiki/Components,-Features,-and-Functions-in-the-User-Interface

[2018-11-07 22:42] banukutlu opened #175 "Update schema to be more inline with BL 7's default solr schema"
https://github.com/projectblacklight/blacklight/blob/master/lib/generators/blacklight/templates/solr/conf/schema.xml

- [x] text not stemmed
- [ ] convert to snake case
- [x] facet fields conversion/examination

[2018-11-08 20:12] banukutlu commented on #90
https://github.com/tulibraries/tul_cob/blob/master/spec/features/record_page_fields_spec.rb

[2018-11-08 20:31] banukutlu commented on #90
we will divide up and work on acceptance tests in each MVP so closing this issue to add one for each MVP.

[2018-11-08 20:31] #90 closed

[2018-11-08 20:33] banukutlu opened #176 "MVP1 Acceptance Tests"
this is for plain-english tests for MVP1 work

https://psu.app.box.com/notes/346675757749

rooting from #90

[2018-11-08 20:45] cdmo commented on #90
did you make a Box note?

[2018-11-08 20:49] ruthtillman commented on #90
@cdmo just got back from getting tea: https://psu.app.box.com/notes/346675757749

[2018-11-08 20:50] cdmo commented on #90
oh ha, thanks @ruthtillman, wasn't sure if Banu or you would, just a question 😅

[2018-11-09 18:19] banukutlu commented on #175
https://psu.app.box.com/file/347208862735

[2018-11-09 19:17] cdmo commented on #175
https://psu.app.box.com/notes/347313071460 narrative

[2018-11-12 19:50] cdmo commented on #175
@banukutlu and I just talked about this over zoom, but we're wondering why it is necessary to have a `title_t` and a `title_display`. `title_t` is indexed AND stored. We can easily just display it and not have the overhead of another title field just for display. From what we can tell the only difference in what is brought into the solr core by traject is that punctuation is trimmed. So, the only

[2018-11-13 14:56] banukutlu opened #177 "Solr infrastructure setup"
* Infrastructure as code (possibly ansible) for qa and prod that can be deployed to a cluster of servers to AWS/Azure
* short of the above, detailed instructions for standing up and configuring a production environment
* Review our solr system config, i.e, heap size, memory, etc

[2018-11-13 15:36] banukutlu commented on #5
@ruthtillman can you pls spell out the options?

[2018-11-13 19:33] banukutlu commented on #175
this is awesome, thanks @cdmo

[2018-11-13 19:41] #175 closed

[2018-11-13 20:05] banukutlu commented on #36
with the new schema updates, we moved to defType-edismax

[2018-11-13 20:07] #101 closed

[2018-11-13 20:07] banukutlu commented on #101
Fixed by #175

[2018-11-13 20:16] ruthtillman commented on #5
Option 1) We continue as things are now in the Cat, with our course reserves in the Blacklight system--similar to Stanford.

Option 2) We find a way to push all our course reserve items from the Cat to Springshare. Critically, we'd need to provide some kind of method for people to know whether items are checked out and how long they can check them out (essentially live availability from Web Servic

[2018-11-13 20:39] cdmo commented on #5
quick question, when we talk about course reserves we're talking about "e-reserves" or physical reserves (like textbooks) or both? I wonder if pulling textbook course reserves out of the catalog would be a problem for the end-user discovery of those items... Removing e-reserves from the catalog (blackcat) seems fine though.

Is one option "course reserves stay in the catalog" and "e-reserves move

[2018-11-14 15:47] banukutlu opened #180 "Title Fields updates"
https://github.com/psu-libraries/psulib_blacklight/wiki/Title-Fields-Indexing-and-Display

Coordinated updates for https://github.com/psu-libraries/psulib_traject/issues/14

* [x] solrconfig and schema updates
* [x] catalog_controller and solr_document updates
* [x] Title display:
   Vernacular title as linked title, Latin character title below
   If no vernacular Latin character title as linked t

[2018-11-15 17:46] banukutlu commented on #126
For vern titles `alternate_script: true` was causing this issue - changing to `alternate_script: only` fixed it.

See https://github.com/traject/traject/blob/master/lib/traject/macros/marc21.rb#L31
[code]

[2018-11-20 13:09] cdmo opened #182 "Blacklight-marc error on upgrade to v7.0.0.rc1"
[code]

[2018-11-20 14:03] #147 closed

[2018-11-20 14:52] banukutlu opened #184 "Title specs"
Requires #180
Requires #147

- [ ] get indexing fixtures working

[2018-11-20 15:37] banukutlu opened #185 "Author fields display and index"
See https://github.com/psu-libraries/psulib_blacklight/wiki/Author-Creator-Fields-Indexing-and-Display

[2018-11-27 12:56] #126 closed

[2018-11-27 15:37] #119 closed

[2018-11-27 21:51] #184 closed

[2018-11-27 22:32] #93 closed

[2018-11-28 15:08] cdmo commented on #185
@ruthtillman:

I just want to confirm, search? Or a [faceted browse](https://librarysearch.temple.edu/catalog/991023689319703811)? Or [both](https://catalog.princeton.edu/catalog/1797022)?

[2018-11-28 15:15] ruthtillman commented on #185
@cdmo I was thinking search, e.g. ?f[author_s][]=Bryson%2C+Bill If it makes more sense with our code to link to faceted browse, though, I don't have a particular functional objection... I'm just not as sure if the 7xx will be in faceted browse?

[2018-11-28 15:18] cdmo commented on #185
Currently we have `100abcdqj:110abcdj:111ancdj:700abcdqj:710abcdj:711ancdj` in our `all_authors_facet_sim`, so, is that adequate you think?

[2018-11-28 15:20] ruthtillman commented on #185
Should be ok then yeah.

[2018-11-28 19:07] ruthtillman commented on #180
Looks good!

[2018-11-28 19:07] #180 closed

[2018-11-28 20:40] cdmo commented on #185
@ruthtillman

Okay, for vernacular authors like [是枝裕和, 1962-](https://blackcat01qa.libraries.psu.edu/catalog/2788022), you wrote that we should "include vernaculars" in display. I'm wondering how to include them exactly. Currently [in the CAT we just put them on the same line with a space for a separator](https://cat.libraries.psu.edu/uhtbin/cgisirsi/x/0/0/57/5/0?searchdata1=2788022%7BCKEY%7D&sear

[2018-11-28 20:50] ruthtillman commented on #185
@cdmo I think one challenge is that we may not always have the vernacular author's name, so it would make more sense to link to the Latinized version for further search. An example might be someone putting in Tolstoy's name in Cyrillic, but not every record would have that. That kind of data situation would drive design decisions, although there's nothing wrong with putting the linked form in the

[2018-11-28 20:51] banukutlu opened #191 "task for creating fixtures"

[2018-11-29 14:35] ruthtillman commented on #185
It looks like the most common practice is to list the vernacular name directly under the other name. They may or may not both be linked to a search for that name (again, I'd be ok limiting it to the Latin). This works fine for 1xx fields, for which only one exists. This may be more challenging for 7xx fields.

[2018-11-29 14:43] cdmo commented on #185
Cool, thanks @ruthtillman

[2018-11-29 20:24] banukutlu opened #193 "Traject for indexing fixtures"
Requires #194

[2018-11-30 15:29] banukutlu commented on #105
@ruthtillman can you move this doc to wiki?

[2018-11-30 15:35] banukutlu opened #194 "Extract for fixtures"
Need an extract of the below catkeys for our fixtures:

```id:6056346 OR id:2431513 OR id:1350394 OR id:12957804 OR id:1839879 OR id:1739750 OR id:2101414 OR id:15000267 OR id:1742385 OR id:1742314 OR id:12761636 OR id:1719185 OR id:14651607 OR id:16621095 OR id:1836205 OR id:16621187 OR id:12744851 OR id:15196486 OR id:12761233 OR id:22077781 OR id:11338033 OR id:22092979 OR id:21841437 OR id:220

[2018-11-30 15:36] banukutlu commented on #194
Need an extract of the below catkeys for our fixtures:

```id:6056346 OR id:2431513 OR id:1350394 OR id:12957804 OR id:1839879 OR id:1739750 OR id:2101414 OR id:15000267 OR id:1742385 OR id:1742314 OR id:12761636 OR id:1719185 OR id:14651607 OR id:16621095 OR id:1836205 OR id:16621187 OR id:12744851 OR id:15196486 OR id:12761233 OR id:22077781 OR id:11338033 OR id:22092979 OR id:21841437 OR id:220

[2018-11-30 16:18] ruthtillman commented on #105
https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields

[2018-11-30 16:18] ruthtillman commented on #111
https://github.com/psu-libraries/psulib_blacklight/wiki/Formats-and-Resources-in-The-CAT

[2018-11-30 16:18] #111 closed

[2018-11-30 16:18] #105 closed

[2018-11-30 20:04] mkutch commented on #194
@banukutlu where do u want me to put it for you

[2018-11-30 20:07] banukutlu commented on #194
@mkutch thanks!

[2018-12-03 13:17] cdmo commented on #146
Removing milestone. Just check manually.

[2018-12-03 14:46] cdmo commented on #56
https://github.com/tulibraries/tul_cob/tree/master/spec/relevance

[2018-12-03 16:07] cdmo commented on #185
Hi @ruthtillman - so @banukutlu caught an issue in the review of the PR for this work. The facet field has different mappings then the individual fields for author, corporate author, meeting author and additional author. See:

facet author field mapped marc:
`100abcdqj:110abcdj:111ancdj:700abcdqj:710abcdj:711ancdj`

person:
`100aqbcdkj`

corp:
`110abcdfgklnj`

meeting:
`111abcdfgklnpqj`

addl:
`70

[2018-12-03 16:18] ruthtillman commented on #185
yes, that should work. Reviewed subfields and I think we  can make that change.

[2018-12-03 16:51] cdmo commented on #185
Thanks!

[2018-12-03 16:55] cdmo commented on #185
Thanks!

[2018-12-04 16:19] banukutlu commented on #194
@mkutch could you pls review these fixtures file and see if there are any vendor records? We would like to track the file so if there are any we should take them out.

[2018-12-04 16:24] ruthtillman commented on #86
https://github.com/psu-libraries/psulib_blacklight/wiki/Sources-of-Data-in-The-CAT

[2018-12-04 16:24] #86 closed

[2018-12-04 21:57] banukutlu commented on #194
more catkeys to extract here https://psu.app.box.com/notes/346675757749

[2018-12-05 16:35] cdmo commented on #193
I just wanted to note on this issue that we are planning to *not* use traject, or at least not jruby-powered traject, in our Travis pipeline. Instead we will use either MRI-powered traject or a Blacklight/rsolr.

[2018-12-06 15:19] cdmo opened #196 "Holdings and Availability Display"
Holdings and summary holdings

https://github.com/psu-libraries/psulib_blacklight/wiki/Holdings-and-Availability-Display

[2018-12-10 18:09] lindak716 opened #198 "Benchmark load and architecture with other institutions"
Required by #177
Required by #199

[2018-12-10 18:10] lindak716 commented on #198
University of Michigan, Princeton, Wisconsin
Some history of load issues at start of semester year 1.  See what they learned, infrastructure needed, testing done, etc.

[2018-12-10 18:13] lindak716 opened #199 "Define full setup for servers needed and architecture"
Requires #177

[2018-12-10 18:17] lindak716 commented on #199
After benchmarking, monitor usage stats and traffic of The CAT to predict load - and double - every bento search will be a solr search of the cat.  Data has to come from current Books and Media search that is pulling out of Summon right now in bento.  Also click through on see all books and media.

[2018-12-10 20:05] banukutlu commented on #199
Requires #177

[2018-12-11 20:06] #193 closed

[2018-12-11 20:31] #194 closed

[2018-12-12 14:58] #191 closed

[2018-12-12 15:19] banukutlu commented on #40
when we need to, we will investigate other tools listed here.

[2018-12-12 15:20] #40 closed

[2018-12-12 15:45] banukutlu commented on #176
@ruthtillman are you still working on this or is it finished?

[2018-12-12 15:50] banukutlu commented on #196
Connected to https://github.com/psu-libraries/psulib_traject/pull/61

[2018-12-12 15:55] banukutlu opened #202 "Index and display note fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Note-Fields-Index-and-Display

Requires https://github.com/psu-libraries/psulib_traject/pull/15

[2018-12-12 16:01] cdmo commented on #182
this seems to have disappeared. We run `rails s` daily without problem. Maybe when we upgraded to the latest blacklight-marc?

[2018-12-12 16:22] banukutlu commented on #21
@ruthtillman are we ready to move this https://psu.app.box.com/notes/320774203905 to wiki?

[2018-12-12 16:28] banukutlu opened #203 "Genre search and display"
https://github.com/psu-libraries/psulib_blacklight/wiki/Genre-Fields-Index-and-Display

Requires https://github.com/psu-libraries/psulib_traject/pull/22

[2018-12-12 16:32] banukutlu opened #204 "Index and display publication fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Publication-Info-Fields-Index-and-Display

Requires  psu-libraries/psulib_traject#18
Requires psu-libraries/psulib_traject#31

[2018-12-12 16:42] banukutlu opened #205 "Index and display preceding and succeeding entry fields"
Requires https://github.com/psu-libraries/psulib_traject/issues/37

https://github.com/psu-libraries/psulib_blacklight/wiki/Linking-Serials-Fields-(Title,-Previous,-and-Successive-Publications)

[2018-12-12 16:52] banukutlu opened #206 "Relevancy Testing"

[2018-12-12 16:58] banukutlu commented on #15
@cdmo will write a draft and send it to Binky and Ruth.

[2018-12-12 18:06] ruthtillman commented on #21
@banukutlu https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields

[2018-12-12 18:09] ruthtillman commented on #176
@banukutlu I've got most of the search done but am still working a bit on it.

[2018-12-13 13:13] cdmo commented on #15
@binkylush @ruthtillman, I started a [design document/project brief/one-pager](https://psu.app.box.com/notes/367191122132). The one question I had while writing it was: branding. Like, how are we branding?  Maybe just a "Catalog Search" heading like Temple? Obviously, not "The CAT" or "Search the BlackCat." But I do think this is one of those things that we should try to address now rather then la

[2018-12-14 14:34] ruthtillman commented on #15
Thanks @cdmo, this is a very solid first draft. I added a few annotations, though I don't know how we'd want to address them. @binkylush  perhaps we can review this in early Jan and finalize?

[2018-12-14 16:55] banukutlu opened #207 "marc4j reader issue with multiple 001 fields"
usin Jruby with marc4j reader is only taking the last 001 - when using MRI marc reader is working fine.

[2018-12-14 16:57] #207 closed

[2018-12-14 16:57] banukutlu commented on #207
moving to traject

[2018-12-18 19:56] cdmo opened #208 "Index and display of material characteristics"
Requires https://github.com/psu-libraries/psulib_traject/issues/20

[2019-01-02 16:43] cdmo opened #209 "Hours in availability details (post release)"
This is a post-release feature idea brought up at the 12/11/18 team meeting. Integration with the hours system.

[2019-01-03 21:52] banukutlu opened #210 "blacklight gem to 7.0.1 from 7.0rc2"
https://github.com/projectblacklight/blacklight/releases/tag/v7.0.0

[2019-01-03 22:07] banukutlu commented on #210
https://github.com/projectblacklight/blacklight/releases/tag/v7.0.0

[2019-01-10 15:04] banukutlu opened #212 "webpack-dev-server vulnerability"
To address this [vulnerability](https://github.com/psu-libraries/psulib_blacklight/network/alert/package.json/webpack-dev-server/open), it is recommended to upgrade webpack-dev-server to at least version 3.1.11. As mentioned here: `https://github.com/rails/webpacker/issues/1873`, the suggested fix can only be done by upgrading to the latest (4.0.x) version of Webpacker (which is still in rc) becau

[2019-01-15 19:44] #15 closed

[2019-01-15 19:47] ruthtillman commented on #208
@cdmo @banukutlu this looks good! I'd be happy to view it on QA or screenshare!

[2019-01-15 19:56] cdmo commented on #208
coming soon, subjects will be merged in shortly and then a full extract on QA again with the latest

[2019-01-16 13:22] cdmo commented on #46
pr into advanced search gem:

`https://github.com/projectblacklight/blacklight_advanced_search/pull/95`

[2019-01-17 13:52] ruthtillman commented on #26
Useful links:

Mike Tribone's open tickets on Blacklight (to do with Accessibility). We can check on them and whether they've been resolved before starting this milestone: https://github.com/projectblacklight/blacklight/issues/created_by/mtribone

May 2018 and Jan 2019 accessibility reports:
https://psu.box.com/s/cn2xb0agw8oebun4zmxxg4dnq4pyp3n9
https://psu.box.com/s/v6xagyvmrxuwu1h9zw4kc8y6k2kcp5

[2019-01-17 14:10] ruthtillman commented on #3
This looks great!

[2019-01-17 14:10] #3 closed

[2019-01-17 14:25] banukutlu opened #215 "records with "holding_tags table exceeded" error"
2 records that has the "holding_tags table exceeded" error

[code]

[2019-01-17 14:31] banukutlu commented on #215
Duplicate of psu-libraries/psulib_traject#78

[2019-01-17 15:04] banukutlu opened #216 "Refactor the subjectify method"
refactor the subjectify method to outdent it a bit and also the way the separator is being handled in the erb.

[2019-01-17 16:43] banukutlu commented on #15
I think the project brief looks great! Thanks so much @cdmo @ruthtillman @binkylush

[2019-01-17 20:44] #208 closed

[2019-01-18 13:47] ruthtillman commented on #203
Thanks for spelling it out, Banu, that choice makes sense to me. I'll have to work with it in QA to confirm but I think it's the right one.

[2019-01-21 17:47] cdmo commented on #46
This seems to fix it https://github.com/projectblacklight/blacklight_advanced_search/issues/96

[2019-01-21 19:16] cdmo commented on #46
I am going to assume that we want to implement facets in the advanced search to be chosen.js -style selects rather then checkboxes. If I'm wrong, please let me know. Basing this thought on what our peer institutions are doing and based on my own preference for chosen.js in giant select elements.

[2019-01-23 21:56] banukutlu commented on #11
@ruthtillman could you pls make sure if we have a task for each single item view field that needs to be mapped and displayed so that we can close this issue?

[2019-01-23 21:58] banukutlu commented on #21
@ruthtillman also for this one - could you pls make sure if we have a task for each facet field that needs to be mapped and displayed so that we can close this issue?

[2019-01-23 22:01] banukutlu commented on #107
@ruthtillman could you pls make sure if we have a task for each keywords search field that needs to be indexed so that we can close this issue?

[2019-01-25 15:08] ruthtillman commented on #110
Reviewed fields. All Email/SMS fields are either indexed or being refined and are represented in tickets. Use and order documented in the wiki. We can close this ticket.

[2019-01-25 15:47] #107 closed

[2019-01-25 15:48] ruthtillman commented on #21
@banukutlu this one I'm gonna have to poke a little more.

[2019-01-28 20:13] ruthtillman commented on #176
First draft of these is done. We may add more as we go.

[2019-01-28 20:13] #176 closed

[2019-01-28 20:22] ruthtillman commented on #12
Need to work through 856 still...

[2019-01-28 21:34] banukutlu commented on #110
after @cdmo pointed out, there is still work to do other than just the fields for this one.

[2019-01-28 22:21] banukutlu opened #218 "Index and display languages field"
https://github.com/psu-libraries/psulib_blacklight/wiki/Language-Fields-Index-and-Display

Requires psu-libraries/psulib_traject#79

[2019-01-29 13:03] cdmo commented on #110
Oh all I was saying is that we need *some* issue for SMS/Email. It can be this one, or this one can be closed and it can be some other new issue. The work that needs to be done is actually implementing this thing is all.

[2019-01-29 18:45] cdmo commented on #210
I am doing this in my branch for advanced search, fyi. It was a dependency there anyway.

[2019-01-29 18:45] cdmo commented on #210
tied to #46

[2019-01-29 19:32] banukutlu commented on #210
great!

[2019-01-30 13:35] cdmo commented on #46
@ruthtillman

Blacklight Advanced Search is setup on my local. It's out-of-the-box in terms of fields. I did add the nice "live type" multiselect thing, which our peers use too. Here are some screenshots. Let me know if you'd like to set the fields now or change anything else now. Or we can hash it out later.

screenshot 1:

![screenshot 2019-01-30 08 33 15](https://user-images.githubusercontent.c

[2019-01-30 13:58] ruthtillman commented on #46
That looks good! The live multi-select is pretty cool...

re: final fields, those are documented in the wiki...should we start changing those up now or wait until library/location are done?

[2019-01-30 15:42] cdmo commented on #46
Awesome, thanks!

https://github.com/psu-libraries/psulib_blacklight/wiki/Advanced-Search

[2019-01-30 16:18] cdmo commented on #46
This is the only field that we have listed as something you can throw a "starts with" on. Will that always be the case? I'm asking because of the implications on the UI. As in do we want something like

<img width="703" alt="screenshot 2019-01-30 11 07 24" src="https://user-images.githubusercontent.com/523381/51995431-b3a72400-2480-11e9-96cf-af12ef9850dc.png">

Or are we going with what's out of t

[2019-01-30 19:57] cdmo commented on #46
Going to add ISBN and hold off on everything else for this particular issue. More issues to come.

[2019-01-30 20:42] cdmo commented on #46
ISBN/ISSN has been added. I also included catkey as part of the search. Looking at SearchWorks, they included some other items like call number.

[2019-02-01 15:33] #210 closed

[2019-02-01 16:46] banukutlu commented on #204
@ruthtillman, we have a `Publication Year` facet but are we gonna keep the `Publish Date` facet?
![Screen Shot 2019-02-01 at 11.45.03 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bae8d163be62e0012255ac7/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77216454f26b7191a379ee0c2f54415f4dbc30254d58eeb9cb74fce36f34985619e8833c0a7c923e19afb98719bb57ba2083468cb

[2019-02-01 16:49] ruthtillman commented on #204
No, we won't.

[2019-02-04 16:35] ruthtillman commented on #11
I think we're good on this.

[2019-02-05 18:05] ruthtillman opened #220 "Index and display formats"
https://github.com/psu-libraries/psulib_blacklight/wiki/Formats

These will display as a facet in the sidebar and be used to display some info about the record, e.g. map to an item type.

[2019-02-07 20:19] ruthtillman commented on #1
@banukutlu updated the docs + proposed a meeting to look through the grouping.

[2019-02-08 20:26] banukutlu commented on #202
@ruthtillman the order of notes fields here:https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields and https://github.com/psu-libraries/psulib_blacklight/wiki/Note-Fields-Index-and-Display are a bit different. Which order is the we should use?

[2019-02-08 20:35] ruthtillman commented on #202
For ordering fields generally, let's stick with Blacklight-Catalog-Fields.

[2019-02-11 16:52] cdmo commented on #202
@ruthtillman [Note-Fields-Index-and-Display](https://github.com/psu-libraries/psulib_blacklight/wiki/Note-Fields-Index-and-Display) shows "Location of Originals" and [Blacklight-Catalog-Fields](https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields) shows "Location of Original"

[2019-02-11 16:56] cdmo commented on #202
in the same vain of questions, should it be "Associated" or "Associated Materials"?

[2019-02-11 16:57] cdmo commented on #202
Administrative Note, or Administrative History?

[2019-02-11 17:11] cdmo commented on #202
Is "Reviewed/Cited In" the same as "References"?
Is "Table of Contents" the same as "Contents"?
Is "Summary" the same as "Abstract"?

And these don't appear to be in the Blacklight-Catalog-Fields page at all:

"Scale Note for Graphic Material"
"Indexed By"
"Selectively Indexed By"
"References"
"Summary" (unless this is "Abstract")
"Reading Grade"
"Interest Age"
"Interest Grade"
"Related Materials"

[2019-02-11 18:33] banukutlu commented on #202
@cdmo we will remove Catkey (I think we should just remove it now - it is already in the url if needed for testing purposes). Call number should be removed as well.
@ruthtillman what about URL and More information?

[2019-02-11 21:10] ruthtillman commented on #202
@banukutlu  ++ on removing catkey (we'll put it... somewhere on the page but not in the main area) I'll get on URL when I get back to workplace.

@cdmo: I think I've properly standardized these across the main fields + the note wiki index... and then ensured they were in the single record field list.

- Associated Materials
- Administrative History
- Location of Originals

and updated these:

Is "

[2019-02-12 19:11] banukutlu commented on #218
@ruthtillman are we gonna add `041` fields to language facet and display?

[2019-02-12 23:06] ruthtillman commented on #218
You're correct, I updated it.

[2019-02-14 17:12] banukutlu opened #225 "Index and display media types"
https://github.com/psu-libraries/psulib_blacklight/wiki/Media-Types

[2019-02-14 17:13] banukutlu opened #226 "Index and display URLs"
https://github.com/psu-libraries/psulib_blacklight/wiki/URL-Fields

requires https://github.com/psu-libraries/psulib_traject/issues/98
related to https://github.com/psu-libraries/psulib_traject/issues/8

[2019-02-14 18:07] ruthtillman opened #227 "Add catkey and link to librarian view to bottom of page"
Similar to this: https://searchworks.stanford.edu/view/10321099

Should contain:

[View MARC record](https://blackcat01qa.libraries.psu.edu/catalog/2469352/librarian_view) | catkey: 2469352

[2019-02-25 21:28] banukutlu opened #228 "Put separators between abcd subfields of 383 - Musical Work Number field"
Related to #208

Put separators (;) between each instance of 383 (Musical Work Number) `abcd` subfields. `e` subfield is ok. see: 14994778.

[2019-02-27 16:56] cdmo opened #229 "CJK implementation"

[2019-02-28 15:47] ruthtillman commented on #204
While it technically works very well, the number of years makes it unwieldy as currently laid out. Can we implement the range boxes similar to what Stanford and Princeton have. IDEALLY without the slider.

If we have to do the slider, let's start date at 1800

[2019-02-28 16:12] ruthtillman commented on #46
Reviewing -- there is a problem in the second section with not all fields being available. Besides the drop-downs not showing everything, typing in a field which exists (e.g. a date not listed which does exist as a facet) does not return that date either. We'll need to get this handled for the controlled fields

Per the [Advanced Search wiki page](https://github.com/psu-libraries/psulib_blacklight

[2019-03-04 20:49] #203 closed

[2019-03-04 20:54] #218 closed

[2019-03-04 20:55] #202 closed

[2019-03-05 15:58] banukutlu commented on #208
Follow up issue will be handled with #208

[2019-03-05 16:51] cdmo opened #230 "Review of ISBN and adding ISSN"
requires https://github.com/psu-libraries/psulib_traject/issues/101

[2019-03-06 13:09] cdmo opened #233 "Feature tests"
Create feature tests for:
- [x] Title, author, subject dropdown searches
- [x] Advanced search
- [x] _search_results.html.erb
- [x] Availability - handled with #450
- [x] Subjects
- [x] Genre
- [x] Publication fields

Create tests for our behaviors (javascript) to make sure things don't break when we update javascript code or  JS dependencies (like Bootstrap)

[2019-03-06 14:18] banukutlu commented on #220
@ruthtillman do we want a label on search results for format?

[2019-03-06 14:25] banukutlu opened #234 "Range limit on publication year facet"
Related to #204

Implement the range boxes similar to what Stanford and Princeton have IDEALLY without the slider.

If we have to do the slider, let's start date at 1800

https://github.com/projectblacklight/blacklight_range_limit

[2019-03-06 14:28] banukutlu commented on #204
@ruthtillman I  added #234 for implementing the range on pub year, so I guess we can close this issue?

[2019-03-06 17:07] ruthtillman commented on #220
In the long run, I'd like to do an icon or such. In the short run, a label "Format" -- sure.

[2019-03-07 15:43] banukutlu commented on #220
@ruthtillman I added fontawesome so won't be displaying a label on search results. What about single item view? I guess we will have the label there - is it gonna be `Format`? Also are we gonna display an icon on single item view?

[2019-03-07 15:48] ruthtillman commented on #220
@banukutlu can we use the similar layout to Princeton? So -- icon + format name (or occasionally names?) on search result. Then icon as thumbnail (until we get real good thumbnails) -- and Format: Book or whatever... on the single page.

[2019-03-07 19:39] cdmo commented on #228
the work for this is in [traject](https://github.com/psu-libraries/psulib_traject/pull/107)

[2019-03-07 19:58] cdmo opened #236 "Remove SavedSearchesController"
This is causing a bug in QA

[code]

[SavedSearches is deprecated in BL7](https://github.com/projectblacklight/blacklight/wiki/Saved-Searches). Can be removed.

[2019-03-07 20:14] #204 closed

[2019-03-08 19:57] cdmo commented on #226
I updated the wiki to streamline and add some details.

[2019-03-08 20:42] cdmo commented on #226
Here are some sample links output from Traject when applying the logic from the wiki:

[code]

I assume that we'd like our proxied resources to only show the domain of the url following `url=`, right? E.g., `http://ezaccess.libraries.psu.edu/login?url=http://catalog.hathitrust.org/Record/009149587`

Also, as much I enjoy seeing "geocities.com", http://www.geocities.com/TimesSquare/Alley/4482/EEFDi

[2019-03-11 17:56] banukutlu commented on #220
@ruthtillman any icon for default format "Other"?

[2019-03-11 19:00] cdmo commented on #226
I'm assuming we'll only want to go after http or https prefixed URLs. Is that right? I've seen one ftp one so far that appears to be a cover image, for example (id: 10787648)

[2019-03-11 19:06] cdmo commented on #226
Just keeping a streaming log of questions here. Another: where should the fulltext link and the supplemental link appear in [single-item view order-wise](https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields)? I see "URL" and it says "May be displayed outside the list" but I'm not sure what that means. We have "Access Online" and "View More Online" according to the [wik

[2019-03-12 14:14] banukutlu opened #239 "Advanced Search updates"
Related to #46

Per https://github.com/psu-libraries/psulib_blacklight/wiki/Advanced-Search:

- Add as text field:
  - [x] Series
  - [x] Publisher
- Change to text field:
  - [x] Subject
  - [x] Publication date (perhaps two boxes?)
- Drop-downs should display every value which exists as a facet:
  - [x] Language
  - [x] Format
- Add as dropdown
  - [x] Media Type
  - [x] Library (not indexed yet

[2019-03-12 14:15] banukutlu commented on #46
closing this issue - the above changes will be handled with #239

[2019-03-12 14:15] #46 closed

[2019-03-12 15:46] cdmo commented on #226
Another problem, under the current logic a link can be both fulltext and partial. Consider a record with a 1 in indicator 2. That is a Partial under current spec. It is also a fulltext if that field's subfield z or 3 don't contain one of the magic words. In this scenario the logic will make a fulltext and a partial from the same field.

[2019-03-13 20:13] cdmo opened #241 "Homepage display"
Remove default stuff, add real stuff.

[2019-03-14 15:09] banukutlu commented on #23
@ruthtillman is this out of scope for the initial release?

[2019-03-18 12:50] ruthtillman commented on #23
Yes. We can make it an enhancement later down the road.

[2019-03-18 13:02] ruthtillman commented on #220
@banukutlu no real preference for other. Possibly: https://fontawesome.com/icons/scroll or https://fontawesome.com/icons/file ? ... I was tempted to suggest https://fontawesome.com/icons/otter for the sound-alike, but...

[2019-03-19 17:09] #236 closed

[2019-03-20 13:51] ruthtillman commented on #228
Looks good!

[2019-03-20 13:51] #228 closed

[2019-03-20 18:38] banukutlu opened #247 "Format field updates"
- Combine Congress and Proceeding/Congress logic and drop Congress.
- Added `008(26) OR 006(09) == g` check to Games/Toys

[2019-03-21 18:11] banukutlu opened #248 "Enable docValues for faceting and sorting fields, and general cleanup/tune of facets"
- [x] Enable docValues for all for faceting and sorting field. Currently not all string fields have it enabled.
- [x]  Remove stored=true from fields that have docValues enabled (including string and numeric fields) and use docValues to retrieve the original data. To do that, either move the schema to 1.6 or to add useDocValuesAsStored for each field type.

Some refactoring based on audit of facet

[2019-03-21 19:27] banukutlu opened #249 "Change directoryFactory to NRTCachingDirectoryFactory"
- [x] Change directoryFactory to NRTCachingDirectoryFactory
- [x] Set RAMBufferSize to 200MB
- [x] Add a transaction log  -  this will require a few changes, like adding an update handler that tells Solr to update the transaction log before indexing.
- [x] Commit policy -  10 minutes or 100K docs, whichever comes first, is a reasonable default for hard
commits, soft commit every 20 minutes.

Relat

[2019-03-22 15:36] banukutlu commented on #234
@ruthtillman We moved this issue to MVP3 and also @cdmo pointed out the accessibility issues of this gem: `https://github.com/projectblacklight/blacklight_range_limit/issues/93`

[2019-03-22 16:20] banukutlu opened #250 "Disable spellchecker"

[2019-03-22 16:21] banukutlu opened #251 "Solrconfig audit"
- [x]  review `fl` list in `search` handler - only include search results fields
- [x]  review facets in `search` handler - only include sidebar facets

[2019-03-25 17:32] ruthtillman commented on #226
- yes

... probably somewhere near the top so people can get right to it. Perhaps under the title? I'm open to moving that around. It's listed nearish the bottom because it's also kind of functional so we could have it at the top of sidebar, etc.

@cdmo do you have a sample?

[2019-03-25 20:02] ruthtillman commented on #220
Updated Games logic to cut out some possible mistakes when the record 008 is bad but the main leader value is still ok.

[2019-03-25 20:13] banukutlu opened #252 "Index and display Access facet"
https://github.com/psu-libraries/psulib_blacklight/wiki/Access-Facet

[2019-03-27 13:01] banukutlu commented on #220
This will be handled with psu-libraries/psulib_traject#113

[2019-03-28 20:07] banukutlu commented on #252
@ruthtillman will acces facet displayed on search results and/or single item view? or is it just a facet? also will it be included to advanced search? I updated the wiki a bit but could you pls correct if not accurate: https://github.com/psu-libraries/psulib_blacklight/wiki/Access-Facet?

[2019-03-28 20:09] ruthtillman commented on #252
Reviewed. These are all accurate. Re: position in sidebar, it would be up top.

[2019-04-02 13:37] #11 closed

[2019-04-05 16:24] banukutlu opened #256 "Solr cache and tuning"
- [x] configure filterCache, documentCache, queryResultCache
- [x] `mm` setting might be contributing to suboptimal performance for multi-term queries. For 2- and 3-word queries, this will force scoring of all documents in the _union_ of `DocSets` for all clauses. Figure out an `mm` setting that would restrict domain to at least 2-clause intersection for any multi-term query.
- [x] make sure all t

[2019-04-05 17:13] cdmo opened #257 "The Because of winn-dixie problem"
@mkutch just brought up a really good piece of feedback.

Do a search for `because of winn-dixie`. Currently our search returns anything that has any of these terms. Maryam is concerned that this isn't useful. After the first several results, none of the docs returned contain "winn-dixie" which has the affect of adding a lot of noise. Now, I would say that noise is mitigated by the fact that the r

[2019-04-05 17:53] mkutch commented on #257
Thanks @cdmo.
Also when you start faceting (i.e. Language select non-English one) you notice that records come up that don't have winn-dixie.

I did another search `winn-dixie grocery store`  but don't understand why the records returned don't have winn-dixie in them. Even though the previous search was bringing up records with winn-dixie in them.

[2019-04-05 19:41] cdmo commented on #257
It has to do with the algorithm in terms of percent of terms that must match (`mm`). But stepping aside from technical jargon, what _should the user experience be_? If you search `winn-dixie grocery store` should each record contain at least one mention of every word? Or not?

[2019-04-05 19:55] mkutch commented on #257
🤷‍♀️

[2019-04-08 13:34] ruthtillman commented on #257
Hi folks -- I was out Friday but I'm getting great results on the QA site for all things winn-dixie. I hope that means someone figured it out? Or is this solution messing with something else?

[2019-04-08 14:27] ruthtillman commented on #257
Update too -- if we get good results, e.g. we search for Because of Winn-Dixie and that's the first results we get (even if we get a lot more later) or we search for `Winn-Dixie grocery stores` and we get stuff first about winn-dixie and then about general grocery stores but not _Because of Winn-Dixie_ we need to step back and say "is this what a person searching for X expects?"

Criteria:

* do t

[2019-04-08 18:47] cdmo commented on #256
Swap is off

![Screenshot 2019-04-08 14 46 59](https://user-images.githubusercontent.com/523381/55748675-3e6e4700-5a0d-11e9-86b7-710c87129274.png)

[2019-04-08 18:53] cdmo commented on #248
this has been merged in and there's not much to QA because it's all under the hood stuff. So closing.

[2019-04-08 18:53] #248 closed

[2019-04-08 19:29] cdmo commented on #257
here's our `mm` determination:
` <str name="mm">2<-1 5<-2 6<90%</str>`

Clauses passed to Solr | Number required to match
-- | --
1 | 1
2 | 1
3 | 1
4 |2
5 | 3
6 | 5
7 | 6
8 | 7
9 | 8
10 | 9
11 | 9
12 | 10
13 | 11
14 | 12
15 | 13
16 | 14
17 | 15
18 | 16
19 | 17

.. and so on at 90% rounded down

[Docs on `mm`](https://lucene.apache.org/solr/guide/7_4/the-dismax-query-parser.html#TheDisMaxQueryParse

[2019-04-08 19:30] cdmo commented on #256
See https://github.com/psu-libraries/psulib_blacklight/issues/257#issuecomment-480974126 for `mm`

[2019-04-08 20:44] mkutch commented on #257
Thanks @cdmo!

If I'm reading the correct repository(solrconfig.xml)

Stanford has `<str name="q.op">AND</str>` . The doc you sent says

on another page it said

So does that mean the their mm is 100% match of all words?

[2019-04-09 14:18] cdmo commented on #257
@mkutch stopped by to do some experiments around `q.op`. Turning `q.op` to `AND` forces all to match, it acts an override of `mm`. With it on the results are much more focused. For example `because of winn-dixie` only return items with all of those clauses, which is 5 documents. See [this query in debug mode raw JSON](https://blackcat01qa.libraries.psu.edu/solr/blacklight-core/select?debugQuery=on

[2019-04-09 17:36] cdmo commented on #256
here's a search debug query for ["geographic information systems"](https://gist.github.com/cdmo/4db8098542748a0512cd184b57cb54d9)

it searches
 - geographic
 - information
 - systems
 - geographic information systems

[2019-04-09 17:44] cdmo opened #258 "Indexing tuning"
- [ ] change the `StandardDirectoryFactory` to the `NRTCachingDirectoryFactory`
- [ ] add Transaction Log (TLog)
- [ ] add a commit policy

[2019-04-10 20:15] mkutch commented on #257
Try any of the following keyword searches

`propaganda costa rica`

`myasthenia gravis dogs`

`homelessness middle east`

Do you think that the results returned are what was intended in the search?

[2019-04-10 20:18] ruthtillman commented on #257
@mkutch can you please compare with searches performed both on the current Cat and the Bento interfaces? If we don't know whether we have resources on the subject (these sound like we'd have more article topics), we can't judge whether it's returning the best results for what we do/don't have. Thanks.

[2019-04-11 13:20] cdmo opened #260 "Drop searches table"
Saved searches aren't needed anymore, we need to remove the table and disable this feature entirely. New migration.

If we decide we still need it then we need a scheduled task to clear the table periodically.

[2019-04-11 16:31] banukutlu commented on #258
duplicate of #249

[2019-04-11 16:31] #258 closed

[2019-04-15 13:33] cdmo commented on #1
Just to park this somewhere, the following does an `OR` union set:

`{!terms f=access_facet}In the Library,Online`

[2019-04-15 15:01] banukutlu opened #262 "title_sort vs title_ssort"
decide if we will have docValues enabled for title sorting?

[2019-04-15 15:50] cdmo commented on #21
Just reviewing this omnibus facets issue... can it be closed since the facets have been broken down into smaller issues? Or?

[2019-04-15 15:50] ruthtillman commented on #21
Yes, I think so.

Ruth Kitchin Tillman
Cataloging Systems & Linked Data Strategist
Penn State University Libraries
Paterno Library 006 | 814-867-1038
rkt6@psu.edu<mailto:rkt6@psu.edu>

________________________________
From: Charlie Morris <notifications@github.com>
Sent: Monday, April 15, 2019 11:50 AM
To: psu-libraries/psulib_blacklight
Cc: Tillman, Ruth Kitchin; Assign
Subject: Re: [psu-librarie

[2019-04-15 15:55] cdmo commented on #106
@ruthtillman and I talked about this in Slack this morning and I think for now we've decided that [Blacklight's `single` option](https://github.com/projectblacklight/blacklight/wiki/Configuration---Facet-Fields#single-value-facets) will be sufficient for now.

Doing an `OR` union of sets would require modifying the Blacklight search function to replace term query parser with the terms query parser

[2019-04-15 15:56] #21 closed

[2019-04-15 15:58] banukutlu commented on #106
yes I agree with moving to BlackCat 1.0 milestone

[2019-04-15 18:51] banukutlu opened #264 "Wireframes"
https://psu.app.box.com/notes/438846630467

*  Homepage
*  Search results page
*  Single item page

[2019-04-15 19:37] cdmo opened #265 "Advanced Search: Title starts with"
Related to #239

[2019-04-15 19:53] banukutlu commented on #45
Duplicate psu-libraries/psulib_traject#71

[2019-04-15 19:53] #45 closed

[2019-04-15 19:54] banukutlu commented on #12
this has been broken down to smaller issues - closing.

[2019-04-15 19:54] #12 closed

[2019-04-16 13:08] #256 closed

[2019-04-17 11:45] cdmo opened #267 "Switch to solr cloud"
- [x] For local and qa environments with embedded zookeeper.
- [ ] ~update configset for prod, create a separate prod configset if necessary~ this may be needed later, for now not required
- [x] deploy configset to prod zk

[2019-04-17 14:24] cdmo commented on #234
We did get an accessibility review by Michelle McManus of this gem and it passed (the slider interface I mean, which seems like we won't even use)

[2019-04-17 18:47] mkutch commented on #257
Search on `homelessness middle east`
CAT - returns 15 records. 13 are books
Bento - returns over 20,000 records. First and fourth record match all 3 terms. After that looks like it's mostly matching on the word homelessness.

Search on `south america caravans`
CAT - returns 3 records (all books)
Bento - returns close to 54,000 records . Looking at first 20 recs and don't see match on all terms. no

[2019-04-18 14:22] banukutlu opened #268 "Call Numbers indexing and display"
https://github.com/psu-libraries/psulib_blacklight/wiki/Call-Number-Index-and-Display

[2019-04-18 15:53] cdmo opened #269 "Advanced Search: Location"
Born from #239
Requires https://github.com/psu-libraries/psulib_traject/issues/121

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-48

[2019-04-18 17:32] cdmo commented on #226
Sorry for not providing a sample here that you requested @ruthtillman, I somehow completely missed that. We did just meet and I think we will adjust our expectations around what is treated as fulltext for the next go-round.

[2019-04-24 14:09] banukutlu opened #274 "Specs for facets_helper.rb"

[2019-04-24 15:41] cdmo commented on #110
hi @ruthtillman, given our conversation in Teams a bit ago, I was wondering if we wanted to think again about SMS. Should we keep this functionality? Or because of the fact that since this functionality was originally developed, the vast majority of mobile phones became cameras and taking a picture of the computer screen is easier then having the record texted to you. I am on the fence myself.

I

[2019-04-24 19:19] banukutlu commented on #177
closing this since now we have more detailed instructions in #267

[2019-04-24 19:19] #177 closed

[2019-04-29 17:06] ruthtillman commented on #110
What's the difficulty in setting up? I think at least in the long run, I'd like to have it... though if it's not working well out-of-the-box we can leave for now.

[2019-04-29 17:48] cdmo commented on #110
Haven't even looked at what's involved, I'd guess it's pretty simple. Just kinda had that doubt in my mind like "why even bother?" So I wanted to check with you. We'll throw it back in the backlog and get to it. Thanks!

[2019-04-30 13:04] ruthtillman commented on #230
Are we still looking at the issue of qualifiers, e.g. https://blackcat01qa.libraries.psu.edu/catalog/22599844 where everything is broken apart vs. in rows by full field?

[2019-04-30 13:37] ruthtillman commented on #239
Everything is looking great but Call Number doesn't seem to work when selected (either alone or with other fields). (however just the highest-letter call number is sufficient once it works, we don't need to break it down any more)

[2019-04-30 13:49] #268 closed

[2019-04-30 13:49] #252 closed

[2019-04-30 13:49] #1 closed

[2019-04-30 13:50] ruthtillman commented on #220
Closing this issue. We may revisit with specific parameters as we go forward, but first pass of formats is done.

[2019-04-30 13:50] #220 closed

[2019-04-30 13:50] ruthtillman commented on #225
Reviewed, good!

[2019-04-30 13:50] #225 closed

[2019-04-30 13:54] ruthtillman opened #279 "Link preceding/succeeding titles to title search"
Building from this: https://github.com/psu-libraries/psulib_blacklight/issues/205

Link to search for title. Example record: https://blackcat01qa.libraries.psu.edu/catalog/10406572

Continued By would search for `Voprosy istorii (Akademii͡a nauk SSSR. Institut istorii)` for example.

[2019-04-30 13:54] cdmo commented on #230
Looks like this needs to be fixed. The qualifiers should be listed in the same row as their ISSN/ISBN, right? I mean, of course, but just double checking. We can send this back to the backlog for a quick fix.

[2019-04-30 13:55] ruthtillman commented on #230
Yes, listed in the same row!

[2019-04-30 13:56] #205 closed

[2019-04-30 13:56] #250 closed

[2019-04-30 16:37] ruthtillman opened #280 "Fields without 008s"
"I did some extractions and found we have 344 records  without an 008 field. I talked with Jeff E. about this and he said he  can see the 008 field in Workflows. However, I mentioned that no 008  field is dumped out when dump the record. He put in a ticket with Sirsi  and their response  What appears to be going on is some kind of corruption in the records  or they weren't loaded correctly or some

[2019-04-30 16:58] #226 closed

[2019-05-03 15:02] cdmo opened #282 "Event-level tracking in web analytics"
Likely it'll be Google Analytics, or at the least Google Analytics and Motomo (or some other FOSS option) but we need event-level tracking to understand, among other things, which facet dismiss icon is being clicked (there are other javascript-y things too of course)

[2019-05-03 18:05] cdmo opened #283 "Log shipping to SPM"
Traject & Rails (https://apps.sematext.com/ui/integrations/apps/25811/integrations/ruby)
Solr
Other?

[2019-05-03 18:59] #274 closed

[2019-05-06 16:16] cdmo commented on #239
I have a fix for this that we'll deploy soon, but, just wanted to mention that the reason that the classification facet shows up at all is kind of a fluke/bug. Blacklight Advanced Search automatically includes all pivot facets, I think it's a bug in the relationship between BLAS and BL. Anyway, I mention this because including this option wasn't in the [original spec](https://github.com/psu-librar

[2019-05-06 16:17] banukutlu commented on #212
https://github.com/rails/webpacker/blob/master/docs/v4-upgrade.md

[2019-05-06 19:49] #230 closed

[2019-05-06 19:49] #239 closed

[2019-05-07 11:35] cdmo opened #286 "Solr timeout on commit"
got it again yesterday

[code]

Radu's changes might solve this though (#276)

[2019-05-07 14:39] cdmo commented on #267
Info on solr dockerhub image: https://hub.docker.com/_/solr/.
Running embedded zk issue: https://github.com/docker-solr/docker-solr/issues/180.
Understanding docker run: https://docs.docker.com/engine/reference/run/.
Solr Cloud mode from the ref guide: https://lucene.apache.org/solr/guide/7_4/getting-started-with-solrcloud.html

[2019-05-07 15:53] banukutlu opened #288 "No need for author sort on search results"
Remove sort by author

[2019-05-07 16:02] cdmo commented on #283
https://rocketjob.github.io/semantic_logger/

[2019-05-07 16:05] cdmo commented on #283
this one looks nice too https://github.com/twp/logging

Otis shared both of these

[2019-05-07 19:31] banukutlu opened #291 "Solr schema.xml audit"

[2019-05-07 20:33] banukutlu opened #292 "Remove search on top from the advanced search page"

[2019-05-08 17:29] cdmo commented on #267
dev and travis are now running solr cloud, next up is QA

[2019-05-09 14:02] mkutch opened #294 "Genre link in single record display returning no results"
Clicked on a Genre link and get `No results found for your search` .
For example,  https://blackcat01qa.libraries.psu.edu/catalog/17504773

[2019-05-09 15:25] #249 closed

[2019-05-09 15:25] #251 closed

[2019-05-09 19:29] cdmo commented on #267
QA is in cloud. And updated configsets are in the prod cluster. I think we're all good here.

[2019-05-09 19:29] #267 closed

[2019-05-09 19:48] banukutlu commented on #267
🎉  great work @cdmo! thanks!

[2019-05-13 14:33] cdmo commented on #286
No timeout in our first full traject run to our production cluster

[2019-05-13 18:50] cdmo opened #298 "Peg blacklight-frontend to a BL7 release"

[2019-05-14 11:44] cdmo commented on #60
I am not sure what this issue means. "Run a copy of the cat"?

[2019-05-14 11:45] cdmo opened #299 "Solr Backups"
Probably a full backup created every 2 or 3 days, see https://lucene.apache.org/solr/guide/7_7/making-and-restoring-backups.html

[2019-05-14 14:24] cdmo opened #301 "Sub-domain for production instance"
First, what will it be? Second, we need to order it.

[2019-05-14 15:08] ruthtillman commented on #301
Almost definitely catalog.libraries.psu.edu -- will email and confirm with Karen.

[2019-05-14 16:01] banukutlu commented on #23
let's evaluate if we can add these as part of MVP3 if not we can move it back to backlog.

[2019-05-14 17:10] ruthtillman commented on #301
Confirmed, catalog.libraries.psu.edu.

[2019-05-14 17:10] #301 closed

[2019-05-14 18:21] cdmo opened #302 "Turbolink clicks not announced"
2 observed issues:

1. clicking a subject link from an individual record
2. selecting an option in a facet

_from accessibility testing with Michelle on 5/14/19_

[2019-05-14 18:22] cdmo opened #303 "Expand/collapse toggle not picked up by screen reader"
for the pivot facet (classification) - Call Number facet

_from accessibility testing with Michelle on 5/14/19_

[2019-05-14 18:24] cdmo opened #304 "Chosen-like drop-downs in Advanced search inaccessible"
1. "it's a dropdown list but it says it's a button"
1. when tabbing through options inside a dropdown nothing is announced

_from accessibility testing with Michelle on 5/14/19_

Aha! Link: https://penn-state-university-libraries.aha.io/features/STPROJ-41

[2019-05-14 18:52] cdmo commented on #241
@ruthtillman

Something like this to start?:

# Penn State University Libraries Catalog

## Other Library Resources

* [LionSearch]()
* [Databases]()
* [Course Reserves]()

[2019-05-14 18:58] ruthtillman commented on #241
See: https://psu.app.box.com/notes/450795851979

[2019-05-15 12:18] cdmo commented on #298
this has been deployed.

[2019-05-15 12:18] #298 closed

[2019-05-15 12:21] cdmo commented on #241
Changes are deployed, links to standalone pages aren't working yet, but can be reviewed. Of course, the overall styling will change as per @mtribone's mockups

[2019-05-15 12:40] ruthtillman commented on #241
Looks mostly good -- can we have the part following "You can also:" as a bulleted list?

[2019-05-15 12:40] ruthtillman commented on #241
Also, all the non-catalog resource links are 👍

[2019-05-15 13:08] banukutlu commented on #294
closing, genre links are working again.

[2019-05-15 13:08] #294 closed

[2019-05-15 13:09] banukutlu commented on #264
mockups are here: https://psu.app.box.com/folder/74509861960

[2019-05-15 13:28] cdmo opened #307 "Pages: About and Search Tips"
See below "[Additional pages we need](https://psu.app.box.com/notes/450795851979)"

[2019-05-15 18:08] cdmo commented on #241
This has been changed and deployed, so it can be reviewed again. Thanks.

[2019-05-15 18:10] cdmo commented on #307
I've added the `high_voltage` gem which allows easy static page creation and appears to be the defacto standard way of doing this sort of thing in the BL community. Content can be edited in `erb` format at https://github.com/psu-libraries/psulib_blacklight/tree/master/app/views/pages. Will this work for you @ruthtillman?

[2019-05-15 18:22] ruthtillman commented on #241
Thanks, it looks good! We'll want to mess around a bit with styling, I think, but ++ content, general look/feel.

[2019-05-15 18:25] ruthtillman commented on #307
Looks doable! Thank you!

[2019-05-16 20:00] cdmo commented on #288
probably safe to close

[2019-05-16 20:00] #288 closed

[2019-05-16 20:02] cdmo commented on #307
Considering this one done, of course, reopen when/if needed

[2019-05-16 20:02] #307 closed

[2019-05-16 20:02] cdmo commented on #241
Great! Considering this one done, of course, reopen when/if needed

[2019-05-16 20:02] #241 closed

[2019-05-17 18:48] #264 closed

[2019-05-20 16:35] banukutlu commented on #196
@ruthtillman 497977 has a holding with the below ItemInfo:
[code]

[2019-05-20 16:40] banukutlu commented on #196
@ruthtillman 52888 has a callInfo with `<libraryID>SERIAL-SRV</libraryID>`, SERIAL-SRV is not in the locations list that we were using for bento availability which we currently use while implementing BL availability. We talked about updating the locations list but also other than updating, what should we do in such cases if there is a libraryID that won't be in our list? Is this something we accou

[2019-05-20 19:14] cdmo commented on #24
It looks like #227 was a dupe of this, regardless, it is handled by https://github.com/psu-libraries/psulib_blacklight/pull/313

[2019-05-20 19:14] #24 closed

[2019-05-20 19:18] cdmo opened #318 "Implement global look and feel"
based on @mtribone's mockups:

- [x] chrome of site
- [x] color scheme
- [x] branding
- [x] font families
- [x] ~font sizing hierarchies~ (no change needed yet)
- [x] ~line-height~ (no change needed yet)
- [x] sidebar facets (examine gutter widths)
- [x] overall max-width
- [x] check breakpoints

[2019-05-20 19:20] banukutlu commented on #318
mockups here: https://psu.app.box.com/folder/74509861960